//
// Estilos tipográficos auxiliares
// --------------------------------------------------

// Márgenes

    // Laterales

.margen-horizontal{margin: 0 @cuadratin !important;}
.margen-horizontal-xs{margin: 0 @cuadratin / 6 !important;}
.margen-horizontal-sm{margin: 0 @cuadratin / 1.5 !important;}
.margen-horizontal-md{margin: 0 @cuadratin * 1.5 !important;}
.margen-horizontal-lg{margin: 0 @cuadratin * 1.8 !important;}

    // Arriba-abajo

.margen-vertical{margin: @cuadratin 0 !important;}
.margen-vertical-xs{margin: @cuadratin / 6 0 !important;}
.margen-vertical-sm{margin: @cuadratin / 1.5 0 !important;}
.margen-vertical-md{margin: @cuadratin * 1.5 0 !important;}
.margen-vertical-lg{margin: @cuadratin * 2 0 !important;}

    // Específicos

.margen-der{margin-right: @cuadratin}
.margen-der-negativo{margin-right: -@cuadratin}
.margen-der-xs{margin-right: @cuadratin / 6}
.margen-der-sm{margin-right: @cuadratin / 1.5}
.margen-der-md{margin-right: @cuadratin * 1.5}
.margen-der-lg{margin-right: @cuadratin * 2}

.margen-izq{margin-left: @cuadratin}
.margen-izq-negativo{margin-left: -@cuadratin}
.margen-izq-xs{margin-left: @cuadratin / 6}
.margen-izq-sm{margin-left: @cuadratin / 1.5}
.margen-izq-md{margin-left: @cuadratin * 1.5}
.margen-izq-lg{margin-left: @cuadratin * 2}

.margen-sup{margin-top: @cuadratin}
.margen-sup-negativo{margin-top: -@cuadratin}
.margen-sup-xs{margin-top: @cuadratin / 6}
.margen-sup-sm{margin-top: @cuadratin / 1.5}
.margen-sup-md{margin-top: @cuadratin * 1.5}
.margen-sup-lg{margin-top: @cuadratin * 2}

.margen-inf{margin-bottom: @cuadratin}
.margen-inf-negativo{margin-bottom: -@cuadratin}
.margen-inf-xs{margin-bottom: @cuadratin / 6}
.margen-inf-sm{margin-bottom: @cuadratin / 1.5}
.margen-inf-md{margin-bottom: @cuadratin * 1.5}
.margen-inf-lg{margin-bottom: @cuadratin * 2}


// Rellenos

    // Laterales

.relleno-horizontal{padding: 0 @cuadratin;}
.relleno-horizontal-xs{padding: 0 @cuadratin / 6;}
.relleno-horizontal-sm{padding: 0 @cuadratin / 1.5;}
.relleno-horizontal-md{padding: 0 @cuadratin * 1.5;}
.relleno-horizontal-lg{padding: 0 @cuadratin * 2;}

    // Arriba-abajo

.relleno-vertical{padding: @cuadratin 0;}
.relleno-vertical-xs{padding: @cuadratin / 6 0 !important;}
.relleno-vertical-sm{padding: @cuadratin / 1.5 0;}
.relleno-vertical-md{padding: @cuadratin * 1.5 0;}
.relleno-vertical-lg{padding: @cuadratin * 2 0;}

    // Específicos

.relleno-der{padding-right: @cuadratin}
.relleno-der-negativo{padding-right: -@cuadratin}
.relleno-der-xs{padding-right: @cuadratin / 6}
.relleno-der-sm{padding-right: @cuadratin / 1.5}
.relleno-der-md{padding-right: @cuadratin * 1.5}
.relleno-der-lg{padding-right: @cuadratin * 2}

.relleno-izq{padding-left: @cuadratin}
.relleno-izq-negativo{padding-left: -@cuadratin}
.relleno-izq-xs{padding-left: @cuadratin / 6}
.relleno-izq-sm{padding-left: @cuadratin / 1.5}
.relleno-izq-md{padding-left: @cuadratin * 1.5}
.relleno-izq-lg{padding-left: @cuadratin * 2}

.relleno-sup{padding-top: @cuadratin}
.relleno-sup-negativo{padding-top: -@cuadratin}
.relleno-sup-xs{padding-top: @cuadratin / 6}
.relleno-sup-sm{padding-top: @cuadratin / 1.5}
.relleno-sup-md{padding-top: @cuadratin * 1.5}
.relleno-sup-lg{padding-top: @cuadratin * 2}

.relleno-inf{padding-bottom: @cuadratin}
.margen-inf-negativo{margin-bottom: -@cuadratin}
.relleno-inf-xs{padding-bottom: @cuadratin / 6}
.relleno-inf-sm{padding-bottom: @cuadratin / 1.5}
.relleno-inf-md{padding-bottom: @cuadratin * 1.5}
.relleno-inf-lg{padding-bottom: @cuadratin * 2}

        // Anchos específicos

.ancho-xs{width: 30px}
.ancho-sm{width: 100px}
.ancho-md{width: 200px}
.ancho-lg{width: 400px}
.ancho-completo{width: 100%}

        // Centrar un elemento de línea

.centrada, .centrado{
        text-align: center;
}

        // Ubicar a la derecha un elemento de bloque

.derecha{
        float: right;
        .cf;
}

.texto-derecha{
    text-align: right;
}
        // Ubicar a la izquierda un elemento de bloque

.izquierda{
        float: left;
        .cf;
}

.texto-izquierda{
    text-align: left;
}

    // Comportamiento de bloque

.bloque{
    display: inline-block;
    width: 100%;
}

.en-linea{
    display: inline-block;
}

.diagonal {
/* Safari */
-webkit-transform: rotate(-60deg);
/* Firefox */
-moz-transform: rotate(-60deg);
/* IE */
-ms-transform: rotate(-60deg);
/* Opera */
-o-transform: rotate(-60deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
margin: @margen-code;
}

.vertical { 
/* Safari */ -webkit-transform-origin: 0 50%; 
/* Safari */ -webkit-transform: rotate(-90deg) translate(-50%, 50%); 
/* Firefox */ -moz-transform-origin: 0 50%; 
/* Firefox */ -moz-transform: rotate(-90deg) translate(-50%, 50%); 
/* IE */ -ms-transform-origin: 0 50%; 
/* IE */ -ms-transform: rotate(-90deg) translate(-50%, 50%); 
/* Opera */ -o-transform-origin: 0 50%; 
/* Opera */ -o-transform: rotate(-80deg) translate(-50%, 50%); 
/* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
margin: @margen-code; 
width: auto;
}

.codigo-parrafo {
    width: auto;
    background-color: @pizarra;
    font-size: 13px;
    font-weight: 100;
    color: @blanco;
    padding: 1px 5px !important;
}

.codigo-color {
    margin: 0;
    width: auto;
    height: 20px;
    font-size: 9px;
    float: right;
}


// Negros y grises
.negro{color: @negro}
.fondo-negro{background-color: @negro}
.pizarra{color: @pizarra}
.fondo-pizarra{background-color: @pizarra}
.gris-oscuro{color: @gris-oscuro}
.fondo-gris-oscuro{background-color: @gris-oscuro}
.gris{color: @gris}
.fondo-gris{background-color: @gris}
.gris-claro{color: @gris-claro}
.fondo-gris-claro{background-color: @gris-claro}
.gris-blanco{color: @gris-blanco}
.fondo-gris-blanco{background-color: @gris-blanco}
.blanco{color: @blanco}
.fondo-blanco{background-color: @blanco}


// Colores
.naranja, .naranja-pastel{color: @naranja}
.fondo-naranja, .fondo-naranja-pastel{background-color: @naranja}
.verde, .verde-turquesa{color: @verde}
.fondo-verde, .fondo-verde-turquesa{background-color: @verde}
.rojo{color: @rojo}
.fondo-rojo{background-color: @rojo}
.azul, .azul-cielo-profundo{color: @azul}
.fondo-azul, .fondo-azul-cielo-profundo{background-color: @azul}

// Colores Especiales
.masking{color: @masking}
.fondo-masking{background-color: @masking}
.ahuesado{color: @ahuesado}
.fondo-ahuesado{background-color: @ahuesado}

// Colores opuestos
.rojo-alerta{color:@rojo-alerta}


// íconos de Stampa

.caja{
    display: block;
    .border-radius(5px);
    height: @cuadratin*2;
    margin: 5px 0;
}

.caja-color {
    display: block;
    float: right;
    height: 20px;
    margin: 0;
    width: 100%;
}

.caja-icono {
    width: 90px;
    height: 90px;
    background-color: rgba(226, 226, 226, 1);
    display: block;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    float: left;
}

.caja-icono p {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    line-height: 13px;
}

.caja-icono:last-child{
    margin-bottom: 60px;
}

// Estilos auxiliares
.borde{
        &.sup-punteado-xs{border-top: 1px dotted @rojo}
        &.sup-punteado-sm{border-top: 2px dotted @rojo}
        &.sup-punteado-md{border-top: 3px dotted @rojo}
        &.sup-punteado-lg{border-top: 5px dotted @rojo;}

        &.der-punteado-xs{border-right: 1px dotted @rojo}
        &.der-punteado-sm{border-right: 2px dotted @rojo}
        &.der-punteado-md{border-right: 3px dotted @rojo}
        &.der-punteado-lg{border-right: 5px dotted @rojo}

        &.inf-punteado-xs{border-bottom: 1px dotted @rojo;}
        &.inf-punteado-sm{border-bottom: 2px dotted @rojo;}
        &.inf-punteado-md{border-bottom: 3px dotted @rojo;}
        &.inf-punteado-lg{border-bottom: 5px dotted @rojo;}

        &.izq-punteado-xs{border-left: 1px dotted @rojo;}
        &.izq-punteado-sm{border-left: 2px dotted @rojo;}
        &.izq-punteado-md{border-left: 3px dotted @rojo;}
        &.izq-punteado-lg{border-left: 5px dotted @rojo;}
}

.sombra{
    box-shadow: 1px 1px 3px fade(@pizarra, 30);
}

.sombra-blanca {
.box-shadow(10px 0 10px fade(@negro, 20))
}

.foco{
    border: 1px solid fade(@pizarra, 50);
    color: @negro;
    .sombra;
}

.ver{
    .box-shadow(0 0 2px fade(@negro, 20));
    background-color: @gris-claro;
    color: rgba(0, 0, 0, 0.8);
    padding: @cuadratin / 2;
}

.al-frente{
    z-index: 500;
}


// clases porcentuales .w1 - .w100

.w1{width:1% !important}.w2{width:2% !important}.w3{width:3% !important}.w4{width:4% !important}.w5{width:5% !important}.w6{width:6% !important}.w7{width:7% !important}
.w8{width:8% !important}.w9{width:9% !important}.w10{width:10% !important}.w11{width:11% !important}.w12{width:12% !important}.w13{width:13% !important}.w14{width:14% !important}
.w15{width:15% !important}.w16{width:16% !important}.w17{width:17% !important}.w18{width:18% !important}.w19{width:19% !important}.w20{width:20% !important}.w21{width:21% !important}
.w22{width:22% !important}.w23{width:23% !important}.w24{width:24% !important}.w25{width:25% !important}.w26{width:26% !important}.w27{width:27% !important}.w28{width:28% !important}
.w29{width:29% !important}.w30{width:30% !important}.w31{width:31% !important}.w32{width:32% !important}.w33{width:33% !important}.w34{width:34% !important}.w35{width:35% !important}
.w36{width:36% !important}.w37{width:37% !important}.w38{width:38% !important}.w39{width:39% !important}.w40{width:40% !important}.w41{width:41% !important}.w42{width:42% !important}
.w43{width:43% !important}.w44{width:44% !important}.w45{width:45% !important}.w46{width:46% !important}.w47{width:47% !important}.w48{width:48% !important}.w49{width:49% !important}
.w50{width:50% !important}.w51{width:51% !important}.w52{width:52% !important}.w53{width:53% !important}.w54{width:54% !important}.w55{width:55% !important}.w56{width:56% !important}
.w57{width:57% !important}.w58{width:58% !important}.w59{width:59% !important}.w60{width:60% !important}.w61{width:61% !important}.w62{width:62% !important}.w63{width:63% !important}
.w64{width:64% !important}.w65{width:65% !important}.w66{width:66% !important}.w67{width:67% !important}.w68{width:68% !important}.w69{width:69% !important}.w70{width:70% !important}
.w71{width:71% !important}.w72{width:72% !important}.w73{width:73% !important}.w74{width:74% !important}.w75{width:75% !important}.w76{width:76% !important}.w77{width:77% !important}
.w78{width:78% !important}.w79{width:79% !important}.w80{width:80% !important}.w81{width:81% !important}.w82{width:82% !important}.w83{width:83% !important}.w84{width:84% !important}
.w85{width:85% !important}.w86{width:86% !important}.w87{width:87% !important}.w88{width:88% !important}.w89{width:89% !important}.w90{width:90% !important}.w91{width:91% !important}
.w92{width:92% !important}.w93{width:93% !important}.w94{width:94% !important}.w95{width:95% !important}.w96{width:96% !important}.w97{width:97% !important}.w98{width:98% !important}
.w99{width:99% !important}.w100{width:100% !important}w99{width:99% !important}.w100{width:100% !important}


// Transitions
.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
     -moz-transition: -moz-transform @transition;
       -o-transition: -o-transform @transition;
          transition: transform @transition;
}

// Opacity
.opacity(@opacity) {
    opacity: @opacity;
    // IE8 filter
    @opacity-ie: (@opacity * 100);
    filter: ~"alpha(opacity=@{opacity-ie})";
}

//  Responsive adaptable

  //  Extra-small screen / Phones
@media(max-width: @screen-xs-max){

    // Márgenes

    // Laterales

.margen-horizontal{margin: 0 @cuadratin/1.5}

    // Arriba-abajo

.margen-vertical{margin: @cuadratin/2 0}

    // Específicos

.margen-der{margin-right: @cuadratin/2}
.margen-izq{margin-left: @cuadratin/2}
.margen-sup{margin-top: @cuadratin/2}
.margen-inf{margin-bottom: @cuadratin/2}


// Rellenos

    // Laterales

.relleno-horizontal{padding: 0 @cuadratin/2}

    // Arriba-abajo

.relleno-vertical{padding: @cuadratin/2 0}

    // Específicos

.relleno-der{padding-right: @cuadratin/2}
.relleno-izq{padding-left: @cuadratin/2}
.relleno-sup{padding-top: @cuadratin/2}
.relleno-inf{padding-bottom: @cuadratin/2}


    .ver {
        padding: 0;
    }

    .caja-icono {
    display: block;
    float: none;
    width:90%;
    height: auto;
    background-color: rgba(226, 226, 226, 1);
    display: block;
    margin: 5px 0px;
    padding: 5px;
    float: left;
    }

    .caja-icono p {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    }

    .caja-icono i{
        font-size: 21px;
        line-height: 10px;  
    }
}
