// Estilos tipográficos auxiliares

.gigante{
        font-size: 420%;
        letter-spacing: -.07ex;
}

.grande{
        font-size: 250%;
}

.chico, 
.chica{
        font-size: 80%;
}

.color{
        color: @link-color;
}

.importante {
    color:@rojo-anaranjado;
}

.diagonal {
/* Safari */
-webkit-transform: rotate(-60deg);
/* Firefox */
-moz-transform: rotate(-60deg);
/* IE */
-ms-transform: rotate(-60deg);
/* Opera */
-o-transform: rotate(-60deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
margin: @margen-code;
}

.vertical { 
/* Safari */ -webkit-transform-origin: 0 50%; 
/* Safari */ -webkit-transform: rotate(-85deg) translate(-50%, 50%); 
/* Firefox */ -moz-transform-origin: 0 50%; 
/* Firefox */ -moz-transform: rotate(-85deg) translate(-50%, 50%); 
/* IE */ -ms-transform-origin: 0 50%; 
/* IE */ -ms-transform: rotate(-85deg) translate(-50%, 50%); 
/* Opera */ -o-transform-origin: 0 50%; 
/* Opera */ -o-transform: rotate(-85deg) translate(-50%, 50%); 
/* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
margin: @margen-code; 
}

.uc{
        text-transform: uppercase;
}

.fina,
.fino{
        font-weight: 300;
}

.muy-fina,
.muy-fino{
        font-weight: 100;
}

.normal{
        font-weight: normal;
}
        

// Márgenes de ajuste
.margen-superior{margin-top: @cuadratin}
.margen-superior-negativo{margin-top: -@cuadratin}
.margen-inferior{margin-bottom: @cuadratin}
.margen-inferior-negativo{margin-bottom: -@cuadratin}
.interno{margin-left: 0} // para no acumular márgenes (@cuadratin) en columnas anidadas.

.margen-vertical{.margen-superior; .margen-inferior}
.centrada, .centrado{
        text-align: center;
        margin: 0 auto
}

.derecha{
        float: right;
        margin-right: 0;
        .cf;
}

// Grises

.negro{color: @negro}
.bg-negro{background-color: @negro}
.gris-oscuro{color: @gris-oscuro}
.bg-gris-oscuro{background-color: @gris-oscuro}
.gris{color: @gris}
.bg-gris{background-color: @gris}
.gris-claro{color: @gris-claro}
.bg-gris-claro{background-color: @gris-claro}
.blanco{color: @blanco}
.bg-blanco{background-color: @blanco}

// Colores
.celeste{color: @celeste}
.bg-celeste{background-color: @celeste}
.azul{color: @azul}
.bg-azul{background-color: @azul}
.azul-oscuro{color: @azul-oscuro}
.bg-azul-oscuro{background-color: @azul-oscuro}
.verde{color: @verde}
.bg-verde{background-color: @verde}
.verde-oscuro{color: @verde-oscuro}
.bg-verde-oscuro{background-color: @verde-oscuro}
.verde-claro{color: @verde-claro}
.bg-verde-claro{background-color: @verde-claro}
.roja, .rojo{color: @rojo}
.bg-rojo{background-color: @rojo}
.rojo-oscuro{color: @rojo-oscuro}
.rojo-alerta{color:@rojo-alerta}
.bg-rojo-oscuro{background-color: @rojo-oscuro}
.ocre{color: @ocre}
.bg-ocre{background-color: @ocre}
.amarillo{color: @amarillo}
.bg-amarillo{background-color: @amarillo}

// Colores Especiales
.pizarra{color: @pizarra}
.bg-pizarra{background-color: @pizarra}
.ahuesado{color: @ahuesado}
.bg-ahuesado{background-color: @ahuesado}
.borde{color: @color-borde}
.bg-borde{background-color: @color-borde}
.color-opuesto{color: @color-opuesto}
.bg-color-opuesto{background-color: @color-opuesto}


.caja{
    display: block;
    .border-radius(5px);
    height: @cuadratin*2;

}

// Estilos auxiliares
.borde{
        border:1px solid @gris-claro;
}

.foco{
        border:1.5px solid @verde-claro;
        color:@pizarra;
        box-shadow:inset 1px 1px 3px @gris-claro;
}

.fulgor{
        background-color: @blanco;
        .box-shadow(0 0 10px @blanco);
}

.ver{
    background-color: fade(@negro, 5);
    .box-shadow(0 0 1px fade(@negro, 20));

    color: rgba(0, 0, 0, 0.3);
}

//Márgenes columnas    

.margen-columna{
    padding: @cuadratin /   2;
    margin: 0;
}


// Imágenes

.imagen-lg {
width: 100%;
height: auto;
overflow: hidden;
}


.imagen-xs{
    width: 60%;
    height: auto;
    overflow: hidden;
}

.imagen-md{
    width: 90%;
    height: auto;
    overflow: hidden;
}


.absoluto {
    top: -80px;
    position: absolute;
}



// clases porcentuales .w1 - .w100

.w1{width:1%}.w2{width:2%}.w3{width:3%}.w4{width:4%}.w5{width:5%}.w6{width:6%}.w7{width:7%}
.w8{width:8%}.w9{width:9%}.w10{width:10%}.w11{width:11%}.w12{width:12%}.w13{width:13%}.w14{width:14%}
.w15{width:15%}.w16{width:16%}.w17{width:17%}.w18{width:18%}.w19{width:19%}.w20{width:20%}.w21{width:21%}
.w22{width:22%}.w23{width:23%}.w24{width:24%}.w25{width:25%}.w26{width:26%}.w27{width:27%}.w28{width:28%}
.w29{width:29%}.w30{width:30%}.w31{width:31%}.w32{width:32%}.w33{width:33%}.w34{width:34%}.w35{width:35%}
.w36{width:36%}.w37{width:37%}.w38{width:38%}.w39{width:39%}.w40{width:40%}.w41{width:41%}.w42{width:42%}
.w43{width:43%}.w44{width:44%}.w45{width:45%}.w46{width:46%}.w47{width:47%}.w48{width:48%}.w49{width:49%}
.w50{width:50%}.w51{width:51%}.w52{width:52%}.w53{width:53%}.w54{width:54%}.w55{width:55%}.w56{width:56%}
.w57{width:57%}.w58{width:58%}.w59{width:59%}.w60{width:60%}.w61{width:61%}.w62{width:62%}.w63{width:63%}
.w64{width:64%}.w65{width:65%}.w66{width:66%}.w67{width:67%}.w68{width:68%}.w69{width:69%}.w70{width:70%}
.w71{width:71%}.w72{width:72%}.w73{width:73%}.w74{width:74%}.w75{width:75%}.w76{width:76%}.w77{width:77%}
.w78{width:78%}.w79{width:79%}.w80{width:80%}.w81{width:81%}.w82{width:82%}.w83{width:83%}.w84{width:84%}
.w85{width:85%}.w86{width:86%}.w87{width:87%}.w88{width:88%}.w89{width:89%}.w90{width:90%}.w91{width:91%}
.w92{width:92%}.w93{width:93%}.w94{width:94%}.w95{width:95%}.w96{width:96%}.w97{width:97%}.w98{width:98%}
.w99{width:99%}.w100{width:100%}w99{width:99%}.w100{width:100%}

// tamaños

.sm {
    padding: @padding-sm;

}

.md {
    padding: @padding-md;

}

.lg {
    padding: @padding-lg;

}

