//  Elementos de Interacción:        
//  Botones, formularios

button.btn,
input[type='submit'],
a.btn{
    display: inline-block;
    font-family: SourceSansProSemiBold;
    margin-top: 0;
    cursor: pointer;
    white-space: nowrap;
    font-size: @cuerpo * .9;
    color: @blanco;
    text-align: center;
    background-color: @pizarra;
    vertical-align: middle;
    .border-radius(@radio);
    
    &:hover {
            text-decoration: none;
            background-color: saturate(@pizarra, 50%);
            color: @blanco;
    }

    // cuando se aprieta el botón, que aparezca una sombra interior para que se vea hundido
    &:active{
            .box-shadow(inset fade(@negro, 30%) 1px 1px 10px);
    }
    
    &.sm{
            font-size: @cuerpo * .8;
            text-transform: uppercase;
            font-weight: normal;
            padding: @padding-sm  4*@padding-sm;
            .border-radius(@radio);
    }

    &.md{
            font-weight: 300;
            font-size: @cuerpo * 1;
            padding: @padding-md 2*@padding-md;
            }

    &.lg{
            font-size: @cuerpo * 1.2;
            letter-spacing: .05ex;
            font-weight: 200;
            padding: @padding-lg 1.8*@padding-lg;
    }

    &.accion{
        text-shadow: 1px 1px 0 fade(@negro, 40%);
        background-color: lighten(@verde, 10);
        
        &:hover{
                background-color: lighten(@verde-claro, 10);
        }
    }
    
    &.alerta{
        text-shadow: 1px 1px 0 fade(@negro, 40%);
        background-color:  @rojo-alerta;
        &:hover{
            background-color: darken(saturate(@rojo-alerta, 10), 10);
            color: @blanco;
        }
    }

    &.accion,
    &.alerta{
        &:active{
            .box-shadow(inset fade(@negro, 30%) 1px 1px 10px);
        }
    }
}


.pegado-antes{.border-radius(@radio 0 0 @radio)}
.pegado-despues{.border-radius(0 @radio @radio 0)}

/* Formularios *///---------------------------------------------------------------------------------------------------

// Reset

textarea,
select,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.uneditable-input, {
  display: inline-block;
  width: 100%;
  padding: @padding-md 3*@padding-md;
  margin-bottom: @margen-sm;
  font-size: @cuerpo;
  line-height: @interlinea;
  color: @gris;
}

form{

    .clearfix;
    .margen-inferior;

    label{
        font-family: SourceSansProBold;
        font-weight: normal;
        font-size: @cuerpo * .8;

        &.checkbox{
            display: inline-block;
            vertical-align: middle;
            font-weight: 400;
            
            input[type=checkbox]{
                display: inline-block;
                margin-top: @margen-md;
                margin-right: @margen-md; 
                padding: @padding-md;
            }
        }
    }

    label.required:after{
        content: '*';
        color:@rojo-anaranjado;
        font-size: @cuerpo * 4;
    }
    
    input[type='submit'],
    .btn{
        width: auto;
        float: right;
    }

    input[type='text'],
    input[type='password'],
    input[type='email'], 
    textarea,
    select{
        height: auto;
        padding: @padding-md;
        color: @pizarra;
        .border-radius(@radio);
        &:valid{
            color: @verde-claro;
        }
    }
        

    input, textarea{
         color: fade(@azul, 70%);
        .border-radius(@radio);
        .borde;

        &:focus{
            .foco;
        }
    }

    textarea {
        height: @cuadratin * 6;
    }


    select{
        .border-radius(4px);
        .borde;
        margin: 0;
        color:@pizarra;
        padding: @padding-md;
        height: auto;
    }

    &.buscador{
        text-align: right;

        input.texto{
            .pegado-antes;
        }
        input[type=submit]{
            .pegado-despues;
            margin: -4px 0 0 -4px;
        }                           
    }

// Diversidad de formularios

        &.formulario-vertical{
            padding: 0;
            margin-bottom: 10px;
            margin-top: 10px;

            label{
                display: block;
                vertical-align: top;
                margin: @margen-md 0 0 0;
            }

            &.sm {
                padding: @padding-sm;
            }

            // Formulario Vertical Medium

            &.md {
                input, textarea{
                    background-color: ;
                }

                input[type=text], input[type=password],input[type='email']{
                    display: inline-block;
                    margin:0;
                    width: 50%;
                    float: right;
                }

                select{
                    width: 52%;
                    float: right;
                }

                input[type=checkbox], .checkbox{
                    display: inline-block;}

                input[type='submit'],
                .btn{
                    margin-top: @margen-md;
                    width: auto;
                    float: right;
                }

                .pregunta{
                    font-size: @cuerpo * .8;
                    vertical-align: middle;
                }

                .grupo {
                    text-align: right;
                    margin-top: @margen-lg;
                    margin-bottom: @margen-lg;

                    label{
                        display: inline-block;
                        margin: @cuerpo/3 0 0 0;
                        padding: 0 @padding-lg 0 0;
                        font-size: @cuerpo * .8;
                    }
                }
            }

            // Formulario Vertical Large

            &.lg {

                input[type=text], input[type=password],input[type='email']{
                    display: inline-block;
                    margin:0;
                    width: 50%;
                    float: right;
                }

                select{
                    width: 52%;
                    float: right;
                }

                input[type=checkbox], .checkbox{
                    display: inline-block;}

                input[type='submit'],
                .btn{
                    margin-top: @margen-lg;
                    width: auto;
                    float: right;
                }

                .pregunta{
                    font-size: @cuerpo * .8;
                    vertical-align: middle;
                }

                .grupo {
                    .cf;
                    //text-align: right;
                    margin-top: @margen-lg;
                    margin-bottom: @margen-lg;

                    label{
                        padding: @padding-lg;
                        padding-top: 0;
                        padding-bottom: 0;
                        display: inline-block;
                    }
                }
            }
        }

        // Formulario Horizontal

        &.formulario-horizontal {
            padding: @padding-sm * 4;

            &.sm {
                background-color: @gris-blanco;

            .ingreso{
                margin-top: @margen-sm * 2;
                margin-bottom: @margen-sm * 2;
                float: center;
                width: 100%;
            }

            .control-usuario { 
                text-align: right;
                float: left;
            }

            input[type=text], input[type=password]{
            font-size: @cuerpo * 1.5;
            margin:0;

            }

            input[type='submit'],
                .btn{
                    margin:0;
             }

                 .grupo {
            margin-top: @margen-lg * 1;
            margin-left: @margen-lg * 2;
        }
    }

        &.md {
            .grupo {
                margin: @margen-md * 2;

                &.sm {
                }
            }

            input[type=text], input[type=password]{
                margin:0 0 0 @margen-md;
                width: 70%;
            }

            input[type='submit'],
                .btn{

                margin-right: @margen-md * 2;
             }

        }

    

        &.lg {

            label{
                display: block;
                margin-top: @margen-lg / 2;
            }

            input[type=text], input[type=password],input[type='email'], .relleno, {
                margin-bottom: @margen-lg;
            }

            input[type=radio]{
                padding-right: 10px;

            }  

            textarea:last-of-type{
                margin-bottom: 0px;
                display: block;
            }

            input[type='submit'],.btn{
                margin-top: @margen-lg / 2;
                margin-right: 0;
                width: auto;
                float: right;
             }


            .formulario-vertical {
                margin-left: @margen-lg;
            }
        }            
    }

}


// Text input groups
// -------------------------
.input-group-addon {
  padding: @padding-sm;
  margin-right:-@margen-sm;
  width: @cuadratin;
  margin-top: 0;
  display: inline-block;
  font-size: @cuerpo * 1.3;
  font-weight: normal;
  color: @blanco;
  text-align: center;
}


