//
// Elementos de interacción
// --------------------------------------------------   

//  Botones, formularios
button,
button.btn,
input[type='submit'],
a.btn{
    background-color: white;
    display: inline-block;
    font-family: 'Source Sans Pro';
    font-weight: 500;
    margin-top: 0;
    cursor: pointer;
    white-space: nowrap;
    font-size: @cuerpo * .9;
    color: lighten(@pizarra, 20);
    text-align: center;
    text-shadow: 1px 1px 1px fade(@negro, 10);
    vertical-align: middle;
    border: 1px solid fade(@pizarra, 30);
    padding: 5px 10px;
    margin-top: @cuadratin / 2;
    margin-bottom: @cuadratin / 2;
    .border-radius(@radio);
    position: relative;
    bottom: @boton-resalte;
    right: @boton-resalte;
    box-shadow: 0 @boton-resalte 0 fade(@negro, 20);
    .transition(.5s ease all);
    &:hover {
            box-shadow: 0 @boton-resalte 0 fade(@pizarra, 50%);
            border-color: fade(@pizarra, 50%);
            text-decoration: none;
            color: @pizarra;
            .transition(.5s ease all);
    }

    &:active{
        .box-shadow(inset fade(@negro, 30%) 1px 1px 10px);
        box-shadow: 0 @boton-resalte/2 0 fade(@pizarra, 5%);
    }

    &.btn-xs{
        font-size: @cuerpo * .6;
        text-transform: uppercase;
        font-weight: normal;
        padding: @padding-sm*.7  2*@padding-sm;
    }
    
    &.btn-sm{
        font-size: @cuerpo * .8;
        text-transform: uppercase;
        font-weight: normal;
        padding: @padding-sm  4*@padding-sm;
    }

    &.btn-md{
        font-weight: 300;
        text-transform: uppercase;
        font-size: @cuerpo * 1;
        padding: @padding-md 2*@padding-md;
    }

    &.btn-lg{
        font-size: @cuerpo * 1.5;
        letter-spacing: .05ex;
        font-weight: 200;
        padding: @padding-lg 1.8*@padding-lg;
    }

    &.btn-accion{
        color: @blanco;
        text-shadow: 1px 1px 0 fade(@negro, 40%);
        background-color: @burdeo-opuesto;
        
        &:hover{
                background-color: darken(@burdeo-opuesto, 10%);
        }
    }
    
    &.btn-alerta{
        color: @blanco;
        text-shadow: 1px 1px 0 fade(@negro, 40%);
        background-color:  @rojo-alerta !important;
        &:hover{
            background-color: darken(saturate(@rojo-alerta, 15), 10);
            color: @blanco;
            
        }
    }

    &.btn-ver-codigo {
        width: 100%;
        margin-bottom: 0;
        bottom: 0;
        right: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #3f4441;
        color: @gris;
        box-shadow: none;
        padding: 5px 0;

        &:hover {
            color: @blanco;
        }
    }

    &.btn-accion,
    &.btn-alertaa{
        &:active{
            .box-shadow(inset fade(@negro, 30%) 1px 1px 10px);
        }
    }
}


.pegado-antes{.border-radius(@radio 0 0 @radio)}
.pegado-despues{.border-radius(0 @radio @radio 0)}

/* Formularios *///---------------------------------------------------------------------------------------------------

// Reset

textarea,
select,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.uneditable-input, {
    width: 100%;
    display: inline-block;
    padding: @padding-md 3 * @padding-md;
    margin-bottom: @margen-sm;
    font-size: 16px;
    font-weight: 300;
    line-height: @interlinea;
    color: @gris;
}

form{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid @gris;

    .clearfix;
    .margen-inferior;

    label{
        display: block;
        font-size: 14.2px;
        font-weight: 300;
        padding-bottom: 5px;
        padding-top: 10px;

        &.checkbox{
            display: inline-block;
            vertical-align: middle;
            font-weight: 400;
            
            input[type=checkbox]{
                display: inline-block;
                margin-right: 1ex; 
                padding: @padding-md;
            }
        }
    }

    .grupo{
        &.obligatorio{
            position: relative;
            label:after{
                font-family: Stampa;
                line-height: 1;
                color: @rojo-claro;
                content: @icn-var-asterisco;
            }
            select,
            input{
                border: 1px solid fade(@gris-oscuro, 70);
                width: 100%;
            }
        }
    }

    legend{
        font-size: @cuerpo * 1.5;
        margin: @cuerpo 0;
        font-weight: 100;
        color: fade(@pizarra, 30);
    }
    
    input[type='submit'],
    .btn{
        width: auto;
        float: right;
    }

    input[type='text'],
    input[type='password'],
    input[type='email'], 
    textarea,
    select{
        height: auto;
        width: 100%;
        padding: 5px 10px;
        color: @pizarra;
        .border-radius(@radio);
        &:valid{
            color: @gris;
        }
    }
        
    input, textarea{
         color: fade(@damasco-opuesto, 70%);
        .border-radius(@radio);
        .borde;

        &:focus{
            .foco;
        }
    }

    textarea {
        height: @cuadratin * 6;
    }


    select{
        .border-radius(4px);
        .borde;
        margin: 0;
        color:@pizarra;
        padding: @padding-md;
        height: auto;
    }

    &.buscador{
        text-align: right;

        input.texto{
            .pegado-antes;
        }
        input[type=submit]{
            .pegado-despues;
            margin: -4px 0 0 -4px;
        }                           
    }
}

// clases de formularios

.form-inline .input-group {
    display: inline-table;
    vertical-align: super !important;
}

.form-group {
    span {
        margin: 0;
    }
}

.form-inline {

  // Kick in the inline
  @media (min-width: @screen-sm-min) {
    // Inline-block all the things for "inline"
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    // In navbar-form, allow folks to *not* use `.form-group`
    .form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }

    .input-group {
      display: inline-table;
      vertical-align: middle;

      .input-group-addon,
      .input-group-btn,
      .form-control {
        width: auto;
      }
    }

    // Input groups need that 100% width though
    .input-group > .form-control {
      width: 100%;
    }

    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match (which also avoids
    // a bug in WebKit: https://github.com/twbs/bootstrap/issues/1969).
    .radio,
    .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;

      label {
        padding-left: 0;
      }
    }
    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }

    // Validation states
    //
    // Reposition the icon because it's now within a grid column and columns have
    // `position: relative;` on them. Also accounts for the grid gutter padding.
    .has-feedback .form-control-feedback {
      top: 0;
    }
  }
}

// Placeholder

::-webkit-input-placeholder {
    color: @gris-oscuro;
    font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
    color: @gris-oscuro;
    font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: @gris-oscuro;
    font-weight: 300;
}

:-ms-input-placeholder {  
    color: @gris-oscuro;
    font-weight: 300;

}

//
// Input groups
// --------------------------------------------------

// Base styles
// -------------------------
.input-group {
  position: relative; // For dropdowns
  display: table;
  border-collapse: separate; // prevent input groups from inheriting border styles from table cells when placed within a table

  // Undo padding and float of grid classes
  &[class*="col-"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
  }

  .form-control {
    // Ensure that the input is always above the *appended* addon button for
    // proper border colors.
    position: relative;
    z-index: 2;

    // IE9 fubars the placeholder attribute in text inputs and the arrows on
    // select elements in input groups. To fix it, we float the input. Details:
    // https://github.com/twbs/bootstrap/issues/11561#issuecomment-28936855
    float: left;

    width: 100%;
    margin-bottom: 0;
  }
}


// Display as table-cell
// -------------------------
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}
// Addon and addon wrapper for buttons
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
}

// Text input groups
// -------------------------
.input-group-addon {
  padding: 0 5px ;
  font-size: @cuerpo;
  font-weight: normal;
  line-height: 1;
  color: @pizarra;
  text-align: center;
  background-color: @blanco-gris;
  border: 1px solid @pizarra;
  border-radius: 5px;

  // Sizing
  &.input-sm {
    padding: 1px;
    font-size: @cuerpo;
    border-radius: 5px;
  }
  &.input-lg {
    padding: 1px;
    font-size: @cuerpo;
    border-radius: 5px;
  }

  // Nuke default margins from checkboxes and radios to vertically center within.
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 0;
  }
}

// Reset rounded corners
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  .border-right-radius(0);
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  .border-left-radius(0);
}
.input-group-addon:last-child {
  border-left: 0;
}

// Button input groups
// -------------------------
.input-group-btn {
  position: relative;
  // Jankily prevent input button groups from wrapping with `white-space` and
  // `font-size` in combination with `inline-block` on buttons.
  font-size: 0;
  white-space: nowrap;

  // Negative margin for spacing, position for bringing hovered/focused/actived
  // element above the siblings.
  > .btn {
    position: relative;
    + .btn {
      margin-left: -1px;
    }
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active {
      z-index: 2;
    }
  }

  // Negative margin to only have a 1px border between the two
  &:first-child {
    > .btn,
    > .btn-group {
      margin-right: -1px;
    }
  }
  &:last-child {
    > .btn,
    > .btn-group {
      margin-left: -1px;
    }
  }
}

