//
// Elementos de interacción
// --------------------------------------------------   

//  Botones, formularios
button,
button.btn,
input[type='submit'],
a.btn{
    background-color: white;
    display: inline-block;
    font-family: 'Source Sans Pro';
    font-weight: 500;
    margin: @cuadratin/2 0;
    cursor: pointer;
    white-space: nowrap;
    font-size: @cuerpo * .9;
    color: lighten(@pizarra, 20);
    text-align: center;
    text-shadow: 1px 1px 1px fade(@negro, 10);
    vertical-align: middle;
    border: 1px solid fade(@pizarra, 30);
    padding: 5px 10px;
    .border-radius(@radio);
    position: relative;
    box-shadow: 0 @boton-resalte 0 fade(@negro, 20);
    .transition(.5s ease all);

    &.sin-relleno{
        padding: 0 !important;
    }

    &.sin-margen{
        margin: 0 !important;
    }
    
    &:hover {
        box-shadow: 0 @boton-resalte 0 fade(@pizarra, 50%);
        border-color: fade(@pizarra, 50%);
        background-color: darken(white, 1%);
        text-decoration: none;
        color: @pizarra;
        .transition(.5s ease all);
    }

    .icn{
        letter-spacing: normal !important;
    }

    &:active{
        .box-shadow(inset fade(@negro, 30%) 1px 1px 10px);
        box-shadow: 0 @boton-resalte/2 0 fade(@pizarra, 5%);
        margin: @cuadratin/2 + @boton-resalte 0 -@boton-resalte + @cuadratin/2 0;
    }

    &.btn-xs{
        font-size: @cuerpo * .6;
        text-transform: uppercase;
        font-weight: normal;
        padding: @padding-sm*.7  2*@padding-sm;
    }
    
    &.btn-sm{
        font-size: @cuerpo * .8;
        font-weight: normal;
        padding: 5px 7px;
    }

    &.btn-md{
        font-weight: 300;
        text-transform: uppercase;
        font-size: @cuerpo * 1;
        padding: @padding-md 2*@padding-md;
    }

    &.btn-lg{
        font-size: @cuerpo * 1.5;
        letter-spacing: .05ex;
        font-weight: 200;
        padding: @padding-lg 1.8*@padding-lg;
    }

    &.btn-accion{
        color: @blanco;
        text-shadow: 1px 1px 0 fade(@negro, 40%);
        background-color: @verde;
        
        &:hover{
            background-color: darken(@verde, 10%);
        }
    }
    
    &.btn-alerta{
        color: @blanco;
        text-shadow: 1px 1px 0 fade(@negro, 40%);
        background-color:  @rojo-alerta !important;
        &:hover{
            background-color: darken(@rojo, 7%) !important;
            color: @blanco;
        }
    }
}

// Para grupo de botones

.pegado-antes{.border-radius(@radio 0 0 @radio) !important}
.pegado-despues{.border-radius(0 @radio @radio 0) !important}

    // Grupo de botones
.grupo-botones{
  .btn{
    float: left;
    margin-left: -1px;
    &:first-child{
        .border-radius(@radio 0 0 @radio);
    }
    // Desde el 2ndo botón en adelante
    &:nth-child(n+2){
        .border-radius(0 0 0 0) !important;
    }
    &:last-of-type{
        .border-radius(0 @radio @radio 0) !important;
    }
    // Cuando existe sólo 1 botón
    &:only-child{
        .border-radius(@radio @radio @radio @radio) !important;
    }
  }
}

.grupo-inputs{
    position: relative;
    display: inline-block;
    input, .input{
        position: relative;
        width: auto !important;
        display: inline-block;
        border-radius: 0 !important;
    }
    :first-child{
    .border-radius(@radio 0 0@radio) !important;
    }
    :last-child{
    .border-radius(0 @radio @radio 0) !important;
        margin-left: -3px;
    }
    .input{
        background-color: @gris-claro;
        line-height: 1.49;
        top: -3px;
        right: -2px;
    }

      &.metabarra{
          input, .input{
        }
        :first-child{
            border-radius: 0px !important;
        }
        :last-child{
            border-radius: 0px !important;
        }
            .input{
                background-color: @gris-claro;
                padding: 4.5px 10.5px 3.5px 12.5px!important;
                right: -4px;
                top: 0px !important;
            }

            &.buscar{
                padding: 5.5px 1.5px 3.5px 10px !important;
                font-size: 15px !important;
                margin-left: -4px;
            }
        }     
    }

/* Formularios *///---------------------------------------------------------------------------------------------------

    // Reset
.input,
textarea,
select,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
input[type='file'],
.uneditable-input, {
    font-family: @sans;
    width: 100%;
    display: inline-block;
    padding: @padding-md 3 * @padding-md;
    margin: 0 0 @margen-sm 0;
    font-size: 16px;
    font-weight: 300;
    line-height: @interlinea;
    color: @gris;
    border: 1px solid @gris-claro;
    &:focus{
      box-shadow: inset 0 @boton-resalte 0 fade(@negro, 13);
      background-color: fade(@negro, 3);
    }

    &.sin-margen{
        margin: 0;
    }

    &.buscar{
        width: auto;
        padding: 6.5px 1.5px 3.5px 10px !important;
        background-color: @gris-blanco-transparente;
        font-size: 15px !important;
    }
}

form{
    padding: 10px;
    border-radius: 5px;
    border:1px solid fade(@gris-claro, 40%);
    background-color: fade(@gris-auxiliar, 10%);
    margin-bottom: 0 !important;
    .clearfix;
    .margen-inf;

    label{
        font-family: @cond;
        text-transform: uppercase;
        font-size: 90%;
        letter-spacing: .02ex;
        color: @gris-oscuro; 
        display: block;
        padding-bottom: 5px;
        padding-top: 10px;

        &.checkbox{
            display: inline-block;
            vertical-align: middle;
            font-weight: 400;
            
            input[type=checkbox]{
                display: inline-block;
                margin-right: 1ex; 
                padding: @padding-md;
            }
        }
    }

    .grupo{
        &.obligatorio{
            position: relative;
            label:after{
                font-family: Stampa;
                line-height: 1;
                color: @rojo;
                //content: @icn-var-asterisco;
            }
            select,
            input{
                border: 1px solid fade(@gris-oscuro, 70);
                width: 100%;
            }
        }
    }

    legend{
        font-size: @cuerpo * 1.5;
        margin: @cuerpo 0;
        font-weight: 100;
        color: fade(@pizarra, 30);
    }
    
    input[type='text'],
    input[type='password'],
    input[type='email'], 
    textarea,
    select{
        height: auto;
        width: 100%;
        padding: 5px 10px;
        color: @gris-oscuro;
        .border-radius(@radio);
        &:valid{
            color: @gris-oscuro;
        }
    }
        
    input, textarea{
         color: fade(@azul, 70%);
        .border-radius(@radio);
        .borde;

        &:focus{
            .foco;
        }

        &.sin-radio{
            border-radius: 0px;
        }
    }

    textarea {
        height: @cuadratin * 6;
    }


    select{
        .border-radius(4px);
        .borde;
        margin: 0;
        color:@pizarra;
        padding: @padding-md;
        height: auto;
    }

    &.buscador{
        text-align: right;

        input.texto{
            .pegado-antes;
        }
        input[type=submit]{
            .pegado-despues;
            margin: -4px 0 0 -4px;
        }                           
    }
}

// clases de formularios
// todo comentado porque está copiado de bootstrap, al menos traducir

.formulario-horizontal{
     .input-group {
        display: inline-table;
        vertical-align: super !important;
    }
    .grupo-inputs {
        width: auto !important;
    }
}

// Formulario de Wordpress
.searchform {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgba(236, 238, 230, 0.8);
    .screen-reader-text {
        color: @gris-claro;
    }
    #s {
        background-color: rgba(255, 255, 255, 0.4);
        border-color: @gris-claro;
        &:focus {
            .transition(.2s ease all);
            background-color: #fff;
            box-shadow: none !important;
            outline: 0 !important;
            color: @gris;
        }
    }
    #searchsubmit {
        float: right;
    }
    input[type='submit'] {
        color: @gris-claro;
        box-shadow: none;
        text-shadow: none;
        &:hover {
            .gris;
            border-color: @gris;
        }
    }
}

.grupo-formulario,
.form-group {
    span {
        margin: 0;
    }
}

.formulario-horizontal {
  // Kick in the inline
  @media (min-width: @screen-sm-min) {
    // Inline-block all the things for "inline"
    .grupo-formulario,
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    // In navbar-form, allow folks to *not* use `.form-group`
    .control,
    .form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }

    .grupo-inputs,
    .input-group {
        display: inline-table;
        vertical-align: middle;
        .input-group-addon,
        .input-group-btn,
        .form-control {
        width: auto;
      }
    }

    .btn{
        margin: 0;
    }

    // Input groups need that 100% width though
    .grupo-inputs > .control,
    .input-group > .form-control {
      width: 100%;
    }

    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match (which also avoids
    // a bug in WebKit: https://github.com/twbs/bootstrap/issues/1969).
    .radio,
    .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;

      label {
        padding-left: 0;
      }
    }
    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }

    // Validation states
    //
    // Reposition the icon because it's now within a grid column and columns have
    // `position: relative;` on them. Also accounts for the grid gutter padding.
    .has-feedback .form-control-feedback {
      top: 0;
    }
  }
}

// Placeholders
::-webkit-input-placeholder {
    color: @gris-claro;
    font-style: italic;
    font-weight: @peso-fino;
}

:-moz-placeholder { /* Firefox 18- */
    color: @gris-claro;
    font-style: italic;
    font-weight: @peso-fino;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: @gris-claro;
    font-style: italic;
    font-weight: @peso-fino;
}

:-ms-input-placeholder {  
    color: @gris-claro;
    font-style: italic;
    font-weight: @peso-fino;
}

// Incorporación 10 marzo 2016: Clases armadas en Personas e[ad]

// Auxiliar
.sin-margen-izq {
    margin-left: 0 !important;
}
.sin-margen-der {
    margin-right: 0 !important;
}
.sin-margen-sup {
    margin-top: 0 !important;
}
.sin-margen-inf {
    margin-bottom: 0 !important;
}



// Interacción
.btn-bloque {
    width: 100%;
}
input.btn-accion[type="submit"], input.btn-alerta[type="submit"] {
    color: #fff !important;
}
button.btn-lg, button.btn.btn-lg, input.btn-lg[type="submit"], a.btn.btn-lg {
    font-size: 21px;
}
button.btn-facebook, button.btn-twitter, button.btn-google, .btn-facebook, .btn-twitter, .btn-google, .btn.btn-facebook, .btn.btn-twitter, .btn.btn-google {
    margin-top: 0;
    color: #fff;
    &:hover {
        color: #fff;
    }
    &:active {
        margin: 0 auto 15px auto;
    }
    &.btn-deshabilitado {
        background-color: #999;
    }
}
button, a {
    &.btn-deshabilitado {
        background-color: #999;
    }
}
button.btn-facebook, .btn-facebook, .btn.btn-facebook {
    background-color: #3b5998;
    &:hover {
        background-color: darken(#3b5998, 10%);
    }
}
button.btn-twitter, .btn-twitter, .btn.btn-twitter {
    background-color: #00aced;
    &:hover {
        background-color: darken(#00aced, 10%);
    }
}
button.btn-google, .btn-google, .btn.btn-google {
    background-color: #dd4b39;
    &:hover {
        background-color: darken(#dd4b39, 10%);
    }
}
.btn-accion-hover:hover{
    color: @blanco !important;
    text-shadow: 1px 1px 0 fade(@negro, 40%);
    background-color: @verde !important;
}
.btn-alerta-hover:hover{
    color: @blanco !important;
    text-shadow: 1px 1px 0 fade(@negro, 40%);
    background-color:  @rojo-alerta !important;
}
input, select {
    &:focus {
        box-shadow: 0 2px 0 @gris-auxiliar inset !important;
        background-color: rgba(255, 255, 255, 0.8) !important;
    }
}

.checkbox.bloque{
    display: block;
    width: 100%;
}

.grupo-inputs {
    display: inline-table;
    vertical-align: middle;
    width: 100%;
    .input {
        background-color: @gris-auxiliar;
        top: 0;
        border-right: none;
        right: 0;
        white-space: nowrap;
        vertical-align: middle;
        display: table-cell;
        max-width: 50px !important;
        width: 50px !important;
        text-align: center;
        .icn {
            display: inline;
            line-height: 1.20em;
        }
    }
    input, select {
        float: left;
        left: -2px;
        width: 100% !important;
        display: table-cell;
        // border-left: none;
    }
    select {
        // border:1px solid red;
        -webkit-appearance: none;
        -moz-appearance: none;
        -webkit-border-radius: 0px;
        border-radius: 0px !important;
        margin-left: 0px !important;
    }
}



.grupo-inputs select:last-child {
    // border:1px solid blue;
}
.grupo-inputs :last-child {
    margin-left: 0;
}

form {
    label {
        letter-spacing: 0;
        padding-top: 0;
        padding-bottom: 0;
        font-family: @sans;
        text-transform: none;
        color: @rojo;
        .fino;
        .margen-inf-xs;
    }
    input {
        color: @gris !important;
    }
    .button {
        font-size: 16px;
    }
    // label {
    //  // text-align: right;
    //  display: inline-block;
    //  margin-right: 0;
    // }
    .checkbox label {
        display: inline-block;
        text-align: left;
        span {
            font-size: 13px;
            display: inline;
        }
    }
    .control, select {
        height: 45px !important;
        margin-bottom: 0;
    }
    select {
        font-size: 17px;
    }
}
label {
    letter-spacing: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: @sans;
    text-transform: none;
    color: @rojo;
    .fino;
    .margen-inf-xs;
}
input {
    color: @gris !important;
}
.button {
    font-size: 16px;
}
// label {
//  // text-align: right;
//  display: inline-block;
//  margin-right: 0;
// }
.checkbox label {
    display: inline-block;
    text-align: left;
    span {
        font-size: 13px;
        display: inline;
    }
}
.input, input.control {
    margin: 0;
}
.control, select, .grupo-inputs .input {
    height: 45px !important;
    margin-bottom: 0;
}
select {
    font-size: 17px;
}

.tooltip {
  position: absolute;
  z-index: @zindex-tooltip; 
  display: block;
  visibility: visible;
  font-size: 14px;
  font-style: normal;
  line-height: 1.4;
  .opacity(0);

  a{
    &:hover{
      color: @blanco !important;
    }
  }

  &.in     { .opacity(@tooltip-opacity); }
  &.top    { margin-top:  -3px; padding: @tooltip-arrow-width 0; }
  &.right  { margin-left:  3px; padding: 0 @tooltip-arrow-width; }
  &.bottom { margin-top:   3px; padding: @tooltip-arrow-width 0; }
  &.left   { margin-left: -3px; padding: 0 @tooltip-arrow-width; }
}

.tooltip-inner {
  max-width: @tooltip-max-width;
  padding: 3px 8px;
  color: @tooltip-color;
  text-align: center;
  font-family: @sans;
  text-decoration: none;
  background-color: @tooltip-bg;
  border-radius: @border-radius-base;
}

.tooltip-imagenes{

    .tooltip {
      font-size: @cuerpo * 0.8;
    }

    .tooltip-inner {
      color: @negro;
      background-color: @masking;  
      border-radius: 1px;
    }

    .tooltip {
      &.top .tooltip-arrow {
        border-top-color: @gris-blanco;
      }
      &.top-left .tooltip-arrow {
        border-top-color: @gris-blanco;
      }
      &.top-right .tooltip-arrow {
        border-top-color: @gris-blanco;
      }
      &.right .tooltip-arrow {
        border-right-color: @gris-blanco;
      }
      &.left .tooltip-arrow {
        border-left-color: @gris-blanco;
      }
      &.bottom .tooltip-arrow {
        border-bottom-color: @gris-blanco;
      }
      &.bottom-left .tooltip-arrow {
        border-bottom-color: @gris-blanco;
      }
      &.bottom-right .tooltip-arrow {
        border-bottom-color: @gris-blanco;
      }
    }
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.modal.helper {
    .modal-dialog {
        width: 100vw;
        top: 20%;
    }
    .modal-content {
        border-radius: 0;
    }
    .modal-body {
        display: -webkit-flex;
        display: flex;
        margin: 40px auto auto auto;
        max-width: 950px;
        h2, h3, i {
            margin: auto;
        }
        i {
            margin-right: 20px;
        }
    }
    &.error {
        h2, h3, i{
            color: @rojo;
        }
    }
    &.exito {
        h2, h3, i{
            color: @verde;
        }
    }
}

.bloque-perfil {
    text-align: center;
    .cabecera {
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        max-width: 400px;
        margin: 20px auto;
        img {
            width: 100%;
        }
    }
}
.paginacion {
    text-align: center;
    li {
        margin-right: 5px;
        display: inline-block;
        a {
            padding: 5px 10px;
        }
    }
    .activo {
        background-color: @rojo;
        color: #fff;
        a {
            color: #fff !important;
        }
        &:hover a {
            background-color: @rojo;
            color: #fff !important;
        }
    }
}

// Alertas

.alerta {
    display: none;
    position: relative;
    padding: 20px;
  // margin-bottom: @line-height-computed;
    border: 1px solid transparent;
    border-radius: @radio;

    // Headings for larger alerts
    h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing @headings-color
    color: inherit;
    }

    // Provide class for links that match alerts
    .alert-link {

    }

    // Improve alignment and spacing of inner content
    > p,
    > ul {
    margin-bottom: 0;
    }

    > p + p {
    margin-top: 5px;
    }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: 40px;

  // Adjust close link position
  .close {
    position: absolute;
    top: -2px;
    right: 20px;
    color: inherit;
    background-color: transparent;
    // border: none;
  }
}

.alerta-precaucion {
    background-color: @masking;
    color: darken(@masking, 50%);
    border-color: darken(@masking, 50%);
}
.alerta-accion {
    background-color: @verde;
    color: #fff;
    border-color: darken(@verde, 50%);
}
.alerta-error {
    background-color: @rojo-alerta;
    color: #fff;
    border-color: darken(@rojo-alerta, 50%);
}


// --------------------------------------------------
// diseño de utilidad responsive

  //  Extra-small screen / Phones
@media(max-width: @screen-xs-max){
    form {
        label {
            font-size: 11px;
        }
    }
    .nav-icn {
        visibility: hidden;
    }
}

// Small screen / tablet
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){
    form {
        label {
            font-size: 12px;
        }
    }
    table, .tabla-personas {
        th {
            font-size: 14px;
        }

        tbody {
            td {
                font-size: 12px;
                a, a.btn {
                    font-size: 12px;
                }
            }
        }
        td {
            font-size: 12px;
        }

    }
}

// Medium screen / desktop
@media (min-width: @screen-md) and (max-width: @screen-md-max){
    form {
        label {
            font-size: 14px;
        }
    }

    table, .tabla-personas {
        th {
            font-size: 16px;
        }
        tr  {
            padding: 10px;
        }
        tbody {
            td {
                font-size: 14px;
                padding: 5px 5px;
                a, a.btn {
                    font-size: 14px;
                    padding: 5px;
                }
            }
        }
        td {
            font-size: 14px;
        }

    }

}

// Large screen / wide desktop
@media (min-width: @screen-lg){
    form {
        label {
            font-size: 16px;
        }
        input, .control, select {
            font-size: 19px;
        }
    }

    table, .tabla-personas {
        th {
            font-size: 20px;
        }
        tr  {
            padding: 10px;
        }
        tbody {
            td {
                font-size: 17px;
                padding: 5px 5px;
                a, a.btn {
                    font-size: 17px;
                    padding: 5px;
                }
            }
        }
        td {
            font-size: 17px;
        }

    }

    .nav-icn {
        visibility: visible;
    }
    //  Botones, formularios
    button,
    button.btn,
    input[type='submit'],
    a.btn{
        font-size: .9vw;
        padding: 8px 13px;
        .transition(.5s ease all);

        &.btn-accion{
            color: @blanco;
            text-shadow: 1px 1px 0 fade(@negro, 40%);
            background-color: @verde;
            
            &:hover{
                background-color: darken(@verde, 10%);
            }
        }
        
        &.btn-alerta{
            color: @blanco;
            text-shadow: 1px 1px 0 fade(@negro, 40%);
            background-color:  @rojo-alerta !important;
            &:hover{
                background-color: darken(@rojo, 7%) !important;
                color: @blanco;
            }
        }
    }

}
