/*

Contenedores y reglas generales

*/


*{
    .transition(.2s ease all);
}

body{
  font-size: @cuerpo;
  background-color: @gris-claro;
  // #gradient > .striped(lighten(@gris-claro, 15%), -45deg);
  // background-size: 10px 10px;
  // background-repeat: repeat;
}

header {

}

.pag{
	//.container();
	margin: 0 auto;
	padding: @cuadratin;
}

.imagen-alta {
	width: auto;
	height: @cuadratin * 2;
	overflow: hidden;
	margin-top: @cuadratin;
	margin-bottom: @cuadratin;
}

.imagen-ancha {
	width: auto;
	height: @cuadratin * 3;
	overflow: hidden;
	margin-top: @cuadratin;
	margin-bottom: @cuadratin;
}

.franja {
	width: 100%;
	min-height: 500px;
	max-height: 800px;
	background-color: @negro-oscuro;
	position: relative;
	overflow: hidden;
	.cf;

	canvas{
		position: absolute;
		top: 0;
		left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
		z-index: 1;
	}

	.leyenda{
		margin-top: @cuadratin * 4;
		text-align: center;
		z-index: 2;
	}
}

.franja-xs {
    margin: auto;
    width: 100%;
    padding-top: @cuadratin;
    background-color: rgba(0, 0, 0, .4);
    background-image: url('http://wiki.ead.pucv.cl/images/a/af/Pyxis-anim.gif');
}

.menu-pyxis {
	margin: 0 auto;
	width: 100%;
	min-height: @cuadratin * 1.4;
	position: fixed;
	background-color: @blanco;
	padding: 0;
	z-index: 10;
}

.menu-pyxis-movil {
	margin: 0 auto;
	width: 100%;
	min-height: @cuadratin * 2;
	background-color: @blanco;
	padding: 0;
	z-index: 10;
}

.contenido{
	margin-bottom: 3 * @cuadratin;
}

footer{
	margin: 0 auto;
	padding-top: @cuadratin;
	line-height: @interlinea * .7;
	
	p{
		padding-top: @cuerpo; 
		font-size: @cuerpo*.7;
		letter-spacing: inherit;
		
		img{
			display: inline-block;
			margin-bottom: -4px;
		}
	}
	
	address{
		font-size: @cuerpo * .7;
		line-height: inherit;
		text-align: center;
	}
	
	nav{
		border: none;
		line-height: inherit;
		ul{
			li{
				margin-left: @cuadratin;
				a{
					font-size: @cuerpo * .7;
					padding: 8px 16px 4px 10px;
					text-transform: none;
					.border-radius(4px);
				}
			}
		}
	}
}

//Nav-m