// Variables de imágenes parallax
// -------------------------

#parallax{
    background-size: 100%;
    color: white;
    height: 300px;
    margin: 0 auto;
    padding: 0;

    h1 {
    	margin: 0;
    	padding: 100px 0 0 0;
    }

    &.ejemplo-1 {
        background:url(../img/mantoaero2.jpg) 100% 0 no-repeat fixed;
    }
	
	&.ejemplo-2{
    	background:url(../img/manto-6.jpg) 100% 0 no-repeat fixed;
	}

	&.ejemplo-3{
    	background:url(../img/torneo2.jpg) 100% 50% no-repeat fixed;
	}
}