//	Patrones


header .iso{
	margin: 0 0 0 @cuadratin;

	h1{
		.rojo;
		font-size: 34px;
		font-weight: 200;
		margin-bottom: @interlinea/2;
	}
	h2{
		font-size: 16px;
		font-weight: 400;
	}
}

ul.meta{

	top: 0;
	vertical-align: top;
	text-align: right;
	font-size: 10px;
	margin: -@cuadratin 0 @cuadratin/2 0;
	padding: 0 20px;
	
	li{
		display: inline;
		border-right: 1px solid @color-borde;
		padding: 0 10px;
		&:last-of-type{
			border: none;
		}
			a{
				font-weight: bold;
			}
	}
}


// Bloque negro pizarra

.pizarra{
	background-color: @pizarra;
	color: fade(@blanco, 80%);
	* {
		color: fade(@blanco, 80%);
		font-weight: 100;
	}
	
	a{
		color: @color-opuesto;
	}
	a:hover{
		background-color: fade(@color-opuesto, 10%);
	}

}

// Navegación

nav{
	margin: 0 -@cuadratin;
	border-top: 1px solid @color-borde;
	border-bottom: 1px solid @color-borde;
	
	ul, ol{
	margin: 0;
	padding: 0;
	.cf;
		
		li{
			display: inline;
			margin: 0;
			padding: 0;
			list-style-type: none;
		
			a{	
				display: inline-block;
				font-family: SourceSansProSemibold;	
				margin: 0;
				padding: @padding-md;
				color: @negro !important;
				font-size: @cuerpo;
				text-transform: uppercase;

			}
			
			a:hover{
				text-decoration: none;
				background-color: @blanco;
				color: @link-color !important;
				.transition(.5s ease all);
			}
		}	
	}
}
