/* 

	e[ad] - PYXIS 
	Experiencia Global de la Organización
	Taller de Investigaciones Gráficas 2012 - *


*/

@ruta-stampa: 			'../bower_components/stampa';
@ruta-tipografias: 		'../fos/';
@ruta-imagenes:  		'../img/';

// Neutralizadores

@import 'normalize.less';				// neutralizar navegadores
@import 'reset.less';					// volver a no saber, redefinir el blanco

// Ensamblador

@import 'tipografias-web.less';			// las familias tipográficas de base
@import 'variables.less';				// los nombres de las cifras 
@import 'funciones.less';				// los nombres de los algoritmos


// Nav Dividers

@import 'navs.less';
@import 'nav-divider.less';
@import 'nav-vertical-align.less';


// Grilla y Estructura

@import 'grilla-variables.less';
@import 'grilla-medidas.less';
@import 'grilla-columnas.less';
@import 'grilla.less';
@import 'grilla-utilidades.less';

// Elementos

@import 'pagina.less';
@import 'auxiliares.less';				// dones comunes
@import 'tipografia.less';				// valores tipográficos
@import 'interaccion.less';				// elementos de diálogo y uso
@import 'tablas.less';					// tablas
@import 'layout.less';					// estilos para bloques
@import 'bloques.less';					// estilos para bloques


// Tratado de imágenes

@import 'tratado-imagenes.less';		// los ajustes de cómo se configuran las imágenes


// Javascript

@import 'collapse.less';		// cm
@import 'modals.less';					// Modales
@import 'tooltip.less';					// Tooltip
@import 'popovers.less';				// Popover
@import 'dropdowns.less';				// Dropdowns
@import 'carousel.less';				// Carousel
@import 'affix.less';				// Affix
@import 'parallax.less';				// Affix


// Íconos

@import '@{ruta-stampa}/less/stampa.less';

