

.sticky-wrapper{
	height: 40/@em;
	width: 0 !important;
	width: auto;
	margin-bottom: 30px;

  #sub-componentes{

  	i{
  		display: none;
  	}


  	h2{
  		display: inline-block; 
  	}


			.nav-tabs {
			> li{
				&:last-child{
					display: none;
				}
			}
		}
  }
}

.is-sticky {

	#sub-componentes {
		left: 0;
		margin: 0 auto;
		background-color: rgba(226, 226, 226, 1);
		width: 100%;
		z-index: 100;
		.box-shadow(0 0 10px fade(@negro, 60));
		//border: .2px solid rgba(164,164,162,.2);

		i{
			display: inline-block;
		}

		.nav-tabs {
			> li{
				border-bottom: 0px solid;

				&:first-child{
					border-left: 1px solid rgba(164,164,162,.2);
				}

				&:last-child{
					display: inline-block;
					border-right: 1px solid rgba(164,164,162,.2);
				}
			}
		}

		ul{
			margin: 0 auto;
			display: block;
		}
	}
}


@media (min-width: @screen-md) and (max-width: @screen-md-max){


.sticky-wrapper{
	height: 40/@em;
	width: 0;
	margin-bottom: 30px;
	border-radius: 3px;
}

.is-sticky {
	
}

}

@media (min-width: @screen-sm) and (max-width: @screen-sm-max){

.is-sticky {

}

}

@media(max-width: @screen-xs-max){

.is-sticky {

}

}
