
.sticky-wrapper{

	width: 0 !important;
	width: auto;
	margin-bottom: 30px;

  #sub-componentes{
  	margin-bottom: 30px;
  	i{
  		display: none;
  	}


  	h2{
  		display: inline-block; 
  	}

			.nav-tabs {
			> li{
				&:last-child{
					display: none;
				}
			}
		}
  }

  	#ejemplo-sticky, #ejemplo-sticky-2, #ejemplo-sticky-3{
		a{
		color: @negro;
		}
	}

	#ead-sticky{
		ul{
			width: 260px;
			display: block;
		}
	}

	#meta-barra{
		width: 935px;
		z-index: 200;
		background-color: @negro;
	}
}

.is-sticky {

	#sub-componentes {
		left: 0;
		margin: 0 auto;
		background-color: @blanco;
		width: 100%;
		z-index: 100;
		.box-shadow(0 0 10px fade(@negro, 60));
		//border: .2px solid rgba(164,164,162,.2);

		i{
			display: inline-block;
		}

		.nav-tabs {
			> li{
				border-bottom: 0px solid;

				&:last-child{
					display: inline-block;
				}
			}
		}
	}

	#ejemplo-sticky, #ejemplo-sticky-2, #ejemplo-sticky-3{
		a{
		color: @rojo;
		}
	}

	#meta-barra{
		background-color: fade(@negro, 90);
	}
}


@media (min-width: @screen-md) and (max-width: @screen-md-max){


.sticky-wrapper{
	
	width: 0;
	margin-bottom: 30px;
	border-radius: 3px;

	  #sub-componentes{
  	margin-bottom: 30px;

  }
}

.is-sticky {
	
}

}

@media (min-width: @screen-sm) and (max-width: @screen-sm-max){

.is-sticky {

}

}

@media(max-width: @screen-xs-max){

.sticky-wrapper{
	height: auto !important;
	width: 100% !important;
	margin-bottom: 15px;

	  #sub-componentes{

		.nav-tabs {
			width: 100%;
		}
  }
}

.is-sticky {

	#sub-componentes {
		position: relative !important; 
		.nav-tabs {
			> li{

				&:last-child{
					display: none;
				}
			}
		}
	}
}

}
