/* 

		Tablas

*/


table{
	border-collapse: collapse;
	border-left: 3px solid @blanco;
	border-right: 3px solid @blanco;
	margin-bottom: @cuadratin;	
	

	tr{
		border-bottom: 2px solid @blanco;


		
		&:first-of-type{
			border-top: 2px solid @blanco;
		}
	}
	th, td{
		padding: 0 0 0 @cuadratin;
		text-align: left;

		span{
			//margin: @cuadratin / 6 @cuadratin / 3 @cuadratin / 6 @cuadratin / 3;
		}
	}
	
	th{
		font-weight: bold;
		background-color: @blanco;

	}
	
	td{

		color: fade(@negro, 60%);
		padding-left: @cuadratin;
		;.btn{
			//margin-top: 0;
		}
	}

	&.centrado-vertical tr td,
	td.centrado-vertical{
		vertical-align: middle;
	}

	input[type=text], input[type=password],input[type='email'], textarea{
        width: 100%;
    }

    textarea {
    	height: @cuadratin * 4;
    }
}

