
@ruta-tipografias: '../fonts/';


// Source Sans Pro
// ---------------

// Extra-light

@font-face {
    font-family: 'Source Sans Pro';
    src: url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-ExtraLight-webfont.eot');
    src: url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-ExtraLight-webfont.svg#SourceSansProExtraLight') format('svg');
    font-weight: 100;
    font-style: lighter;
}

//  Light

@font-face {
    font-family: 'Source Sans Pro';
    src: url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Light-webfont.eot');
    src: url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Light-webfont.woff') format('woff'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

//  Regular

@font-face {
    font-family: 'Source Sans Pro';
    src: url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Regular-webfont.eot');
    src: url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: 300;
    font-style: normal;
}

//  Semibold

@font-face {
    font-family: 'Source Sans Pro';
    src: url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Semibold-webfont.eot');
    src: url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

//  Bold

@font-face {
    font-family: 'Source Sans Pro';
    src: url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Bold-webfont.eot');
    src: url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
    font-weight: 700;
    font-style: bold;
}

//  Black


@font-face {
    font-family: 'Source Sans Pro';
    src: url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Black-webfont.eot');
    src: url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Black-webfont.woff') format('woff'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Black-webfont.ttf') format('truetype'),
         url('@{ruta-tipografias}/SourceSansPro/SourceSansPro-Black-webfont.svg#SourceSansProBlack') format('svg');
    font-weight: 900;
    font-style: bolder;
}


// Mrriweather
//---------

//  Light

@font-face {
    font-family: 'Merriweather';
    src: url('@{ruta-tipografias}/Merriweather/merrmerriweather-light-webfont.eot');
    src: url('@{ruta-tipografias}/Merriweather/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{ruta-tipografias}/Merriweather/merriweather-light-webfont.woff') format('woff'),
         url('@{ruta-tipografias}/Merriweather/merriweather-light-webfont.ttf') format('truetype'),
         url('@{ruta-tipografias}/Merriweather/merriweather-light-webfont.svg#merriweatherlight') format('svg');
    font-weight: 200;
    font-style: normal;

}

//  Light-italic

@font-face {
    font-family: 'Merriweather';
    src: url('@{ruta-tipografias}/Merriweather/merriweather-lightitalic-webfont.eot');
    src: url('@{ruta-tipografias}/Merriweather/merriweather-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{ruta-tipografias}/Merriweather/merriweather-lightitalic-webfont.woff') format('woff'),
         url('@{ruta-tipografias}/Merriweather/merriweather-lightitalic-webfont.ttf') format('truetype'),
         url('@{ruta-tipografias}/Merriweather/merriweather-lightitalic-webfont.svg#merriweatherlight_italic') format('svg');
    font-weight: 200;
    font-style: italic;

}

//  Italic

@font-face {
    font-family: 'Merriweather';
    src: url('@{ruta-tipografias}/Merriweather/merriweather-italic-webfont.eot');
    src: url('@{ruta-tipografias}/Merriweather/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{ruta-tipografias}/Merriweather/merriweather-italic-webfont.woff') format('woff'),
         url('@{ruta-tipografias}/Merriweather/merriweather-italic-webfont.ttf') format('truetype'),
         url('@{ruta-tipografias}/Merriweather/merriweather-italic-webfont.svg#merriweatheritalic') format('svg');
    font-weight: 200;
    font-style: italic;

}


//  Regular

@font-face {
    font-family: 'merriweatherregular';
    src: url('@{ruta-tipografias}/Merriweather/merriweather-regular-webfont.eot');
    src: url('@{ruta-tipografias}/Merriweather/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{ruta-tipografias}/Merriweather/merriweather-regular-webfont.woff') format('woff'),
         url('@{ruta-tipografias}/Merriweather/merriweather-regular-webfont.ttf') format('truetype'),
         url('@{ruta-tipografias}/Merriweather/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: 300;
    font-style: normal;

}


//  Bold

@font-face {
    font-family: 'merriweatherbold';
    src: url('@{ruta-tipografias}/Merriweather/merriweather-bold-webfont.eot');
    src: url('@{ruta-tipografias}/Merriweather/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{ruta-tipografias}/Merriweather/merriweather-bold-webfont.woff') format('woff'),
         url('@{ruta-tipografias}/Merriweather/merriweather-bold-webfont.ttf') format('truetype'),
         url('@{ruta-tipografias}/Merriweather/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
    font-weight: 700;
    font-style: bold;

}

//  Bold-italic

@font-face {
    font-family: 'merriweatherbold_italic';
    src: url('@{ruta-tipografias}/Merriweather/merriweather-bolditalic-webfont.eot');
    src: url('@{ruta-tipografias}/Merriweather/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{ruta-tipografias}/Merriweather/merriweather-bolditalic-webfont.woff') format('woff'),
         url('@{ruta-tipografias}/Merriweather/merriweather-bolditalic-webfont.ttf') format('truetype'),
         url('@{ruta-tipografias}/Merriweather/merriweather-bolditalic-webfont.svg#merriweatherbold_italic') format('svg');
    font-weight: 700;
    font-style: bold-italic;

}

