
  //
  // Tipografía
  //---------------


  //  Por defecto:

  * {
    font-family: @tipografia;
    font-weight: 200;
}


  //  Vínculos:

  a{
    color: @color-link;
    text-decoration: none;
    font-family: @sans;
    font-size:@cuerpo -2;

        //  Tamaños de Párrafo:

        &.lg { 
            font-size: @cuerpo * 2.2;
            line-height: 140%;
        }

        &.md {
          font-size: @cuerpo * 1.7;
          font-weight: 200;
          line-height: 140%;
      }

      &.sm {
          font-size: @cuerpo * 1.1;
          line-height: 130%;
      }

      &.xs {
          font-size: @cuerpo * .80;
          line-height: @interlinea * .9;
      }


      &:hover{
          color: @pizarra;
          text-decoration: none;
      }
  }


//  Párrafo:

p {
    margin: @interlinea 0 @interlinea * 1.3 0;
    line-height: @interlinea;
    color: fade(@negro, 80%);
    font-family: @texto-continuo;
    font-weight: 200;

    //  Tamaños de Párrafo:

    &.lg { 
        font-size: @cuerpo * 2.2;
        line-height: 140%;
    }

    &.md {
      font-size: @cuerpo * 1.7;
      font-weight: 200;
      line-height: 140%;
  }

  &.sm {
      font-size: @cuerpo * 1.2;
      line-height: 130%;
  }

  &.xs {
      font-size: @cuerpo * .80;
      line-height: @interlinea * .9;
  }
}


//  Vistazo:

span {
  margin: @interlinea 0 @interlinea * 1.5 0;
  display: inline-block;

          //  Tamaños de Párrafo:

          &.lg { 
            font-size: @cuerpo * 2.2;
            line-height: 140%;
        }

        &.md {
          font-size: @cuerpo * 1.7;
          font-weight: 200;
          line-height: 140%;
      }

      &.sm {
          font-size: @cuerpo * 1.2;
          line-height: 130%;
      }

      &.xs {
          font-size: @cuerpo * .80;
          line-height: @interlinea * .9;
      }
  }


// Clases diferenciadas:

.poema{
  font-family: @serif;
  font-size:   @cuerpo * 1.0;
  line-height: @interlinea;
  white-space: pre-wrap;
}

.especificacion {
  margin-bottom: @interlinea;
  line-height: @interlinea;
  color: fade(@pizarra, 80%);
}

.antetitulo{
  font-family: @tipografia-titulos;
  font-weight: normal;
  color:@rojo-oscuro;  
  text-transform: uppercase;
  font-size:@cuerpo -8px;
}

// Clases de familia tipográfica 

.sans {
  font-family: @sans;
}

.serif {
  font-family: @serif;
}

//  Énfasis:

.cursiva,
.italica,

em, i{
    font-family: @italica;
    font-style: italic;
    font-weight: 100;
    
    &.grande{
      letter-spacing: -.1ex;
      font-weight: 200;
  }
}

.sombra-cabecera {
      text-shadow: -5px 4px 0 #2f3239;
}


.negrita,

strong{
  font-weight: 700;
  font-family: @texto-continuo;
}

.pesada,
.pesado{
    font-weight: 900;
    etter-spacing: 0.1ex;
    font-family: @tipografia-titulos;
}

.gruesa{
    font-weight: 700;
}

  // Sólo para títulos @sans:

  .semi-gruesa {
    font-family: @tipografia-titulos;
    font-weight: 500;
}

  //

  .altas{
    text-transform: uppercase,
}

div.poema{
    margin-bottom: @interlinea;
    line-height: @interlinea;
    font-family: @serif;
    font-size: @cuerpo - 2;
    line-height: @interlinea;
    white-space: pre;
    color: fade(@negro, 80%);
}

// alineación

.parrafo-izquierdo {
  text-align: left;
}
  //  Cabeceras:

  //  Valores de cabecera:

h1 {
  font-size: 33px;
}

h2 {
  font-size: 29px;
}
h3 {
  font-size: 27px;
}
h4 {
  font-size: 23px;
}
h5 {
  font-size: 21px;
}
h6 {
  font-size: 19px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @tipografia-titulos;
    font-weight: 300;
    color: @gris-oscuro;
    margin: @interlinea 0 @interlinea 0;
    vertical-align: bottom;
    
    &.filete{
      border-bottom: 1px solid @color-borde;
      .clearfix;
  }

    //  Tamaños de título:

    &.extra-chico{
        font-size: -400%;
    }

    &.chico{
        font-size: -300%;
    }

    &.mediano{
        font-size: 200%;
    }

    &.grande{
      font-size: 300%;
      letter-spacing: -2px;
  }

  &.gigante{
      font-size: 420%;
      line-height: 100%;
  }
}

  // Subtítulos

  .subtitulo {
    font-family: @tipografia-titulos;
    font-weight: 200;
    color: @gris-oscuro;
    margin: @interlinea 0 @interlinea 0;
    vertical-align: bottom;
}


  // Listas:

  ul{
      font-size: @cuerpo * 1.2;
  }

  ul, ol {
    //margin: @cuadratin * 0.4 0 @interlinea @cuadratin;
    &.xs{font-size: 80%}
    &.md{font-size: 100%}
    &.lg{font-size: 120%}
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
    list-style: square;
}

ul li{
    list-style: disc;
}

ol li{
    list-style: decimal;
}

ul.meta{
  top: 0;
  vertical-align: top;
  text-align: right;
  font-size: 10px;
  margin: -@cuadratin 0 @cuadratin/2 0;
  // padding: 0 20px;
  
  li{
        display: inline;
        border-right: 1px solid @color-borde;
        padding: 0 10px;
        &:last-of-type{
            border: none;
        }
        a{
            font-weight: bold;
        }
    }
}

ul.menu {
  width: 100%;
  margin: 0;
  padding: @cuadratin * 1.9 0 @cuadratin /3 0;
  background-color: @blanco;

  a {
      text-decoration: none;
      color: @negro;
      font-size: @cuerpo;
      
      li {
        list-style: none;
        border: 1px solid @blanco;
        background-color: @blanco;                                                                                                                              
        width: 100%;
        padding: @cuadratin /2 0 @cuadratin /2 @cuadratin;

        &:hover {
            background-color: @gris-claro;
        }
    }
}
}


  // Listas de descripción o definición:

  dl {
    margin-bottom: @interlinea;
    dt, dd {
      line-height: @interlinea;
  }
  dt {
      font-weight: 600;
  }
  dd {
      margin-left: @interlinea / 2;
  }
}


  // Otros


  //  Fecha

  .fecha-evento {
      font-family: @sans;
      padding: 0;
      margin: @margen-lg * 2.5 @margen-lg 0 0;
      font-size: @cuerpo-nav * 9.5;
      letter-spacing: -@cuadratin-tercio;
      color: @rojo-claro;

      &.xs {
        font-size: @cuerpo-nav * 7;
        margin-top: @margen-lg * 2;
    }
}

.descripcion-proyecto {
  font-size: @cuerpo * .7;
    font-weight: 200;
    margin: 22px 0px 28.6px;
    line-height: 22px;
    text-align: center;
}

  // Regla horizontal:

  hr {
    margin: 10px 0 20px;
    border: 0;
    border-bottom: 1px solid @gris-claro;
    .box-shadow(0 0px 1px fade(@gris-oscuro, 20));
}


  // Citas:

  blockquote {
    margin-bottom: @interlinea;
    border-left: 5px solid #eee;
    padding-left: 15px;
    
    //  chico:
    
    small {
      display: block;
      color: @gris-claro;
      &:before {
        content: '\2014 \00A0';
    }
}
}

.autor {
    margin: 22px 0px 28.6px;
    line-height: 22px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 200;
    letter-spacing: -0.1ex;
    color: @gris;
    //font-size: @cuerpo * 1.3;
}

.referencias{
    font-family:@tipografia-referencias;
}

  //  Footer:

  .datos-footer{
      font-family:@sans;
      font-weight:@cuerpo - 2;

  }


  //  Dirección

  address {
    display: block;
    line-height: @interlinea;
    margin-bottom: @interlinea;
}


  //  Código y Texto sin estilos:

  code, pre {
    font-family: @mono;
    font-size: @cuerpo * .7;
    .border-radius(3px);
    color: fade(@negro, 50%);
}


  //  código escrito:

  code {
    background-color: @pizarra;
    color: @blanco;
    width: 100%; 
    display: inline-block;
    line-height: @interlinea * .666;
    white-space: pre-wrap;
    font-size: 13px;
    padding: 2px 6px;
    margin: 0;
}


  //  Texto sin estilos (formato desde HTML):

  pre {
    background-color: #f5f5f5;
    display: block;
    padding: (@interlinea - 1) / 2;
    margin: 0 0 @interlinea;
    line-height: @interlinea;
    font-size: 12px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    .border-radius(3px);
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.global{
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.big{
    color: @gris-claro;
    margin: - @em 0 0 0;
    
}
.main{
    color: @color-link;
    font-size: @cuerpo * 3;
}
.tdc{
    padding: @em @em*2;
    color: @gris;
    background-color: @ahuesado;
    .border-radius(1em / 5);
    margin: 1em 0;
}


//  Estilos Semánticos

.extracto{
    padding: 0;
    line-height: @interlinea * 0.81;
    font-family: @tipografia-referencias;
    font-size: 0.938em;
    li{
        list-style-type: none;
        margin-bottom: @interlinea;
    }
}

.resumen {
    font-size: 15px;
    line-height: 120%;
    padding: 0;
}


  //  Elementos laterales

  .columna-tipo{
      width: 45%;
      float: left;
      position: relative;
  }


  //  Responsive 

  //  Extra small screen / phone
  @media(max-width: @screen-xs-max){
    h1.gigante{
      font-size: 50px;
      line-height: 100%;
  }

  .descripcion-proyecto {
      font-size: @cuerpo * 0.8;
  }
}

  //  Small screen / tablet
  @media (min-width: @screen-sm) and (max-width: @screen-sm-max){
  }

  //  Medium screen / desktop
  @media (min-width: @screen-md) and (max-width: @screen-md-max){
  }

  //  Large screen / wide desktop
  @media (min-width: @screen-lg){
  }


