
	// TipografÌa



* {
	font-family: @tipografia;
	font-weight: 400;
}

	
body{
	font-size: @cuerpo;	
	#gradient > .striped(lighten(@gris-claro, 15%), -45deg);
	background-size: 10px 10px;
	background-repeat: repeat;
}

a{
	color: @color-link;
	text-decoration: none;
	
	&:hover{
		background-color: @ahuesado;
		text-decoration: underline;
	}
	
	&:visited{
		color: fade(@color-link, 10);
		text-decoration: line-through;
	}
}

p {
  	margin-bottom: @interlinea;
  	line-height: @interlinea;
  	color: fade(@negro, 80%);
  	background-color: yellow;

  	&.grande{
  		font-size: @cuerpo * 1.5;
  		font-weight: 300;
		line-height: 120%;
		padding: 0;
		background-color: green;
  	}
  	
  	&.chico {
    	font-size: @cuerpo*.80;
    	line-height: @interlinea * .8;
  	}
  
  	&.poema{
  		font-family: @serif;
  		font-size: @cuerpo - 1;
  		line-height: @interlinea;
		white-space: pre;
  	}
}

.antetitulos{
    font-family: @tipografia-titulos;
    font-weight: normal;
    color:@rojo-oscuro;  
    text-transform: uppercase;
    font-size:@cuerpo -8px;
}

// …mfasis

.negrita,
strong {
	font-style: inherit;
  	font-weight: bold;
}

.cursiva,
.italica,
em {
	font-family: @serif;
	font-style: italic;
	font-weight: inherit;
	line-height: inherit;
}

.italica2{
    font-family: @serif;
    font-style: italic;
	line-height: inherit;
    color:@azul-oscuro;
}

.pesada,
.pesado,
.ultra-negrita{
	font-weight: 900;
	letter-spacing: 0.1ex;
}

.altas{
	text-transform: uppercase,
}

ul{
	//font-size: @cuerpo * 1.2;
}

div.poema{
	margin-bottom: @interlinea;
	line-height: @interlinea;
    font-family: @serif;
  	font-size: @cuerpo - 2;
  	line-height: @interlinea;
	white-space: pre;
	color: fade(@negro, 80%);
}


// Cabeceras
// --------

h1, h2, h3, h4, h5, h6 {

	font-weight: bold;
	color: @gris-oscuro;
	margin: 0 0 @interlinea 0;
	vertical-align: bottom;
	
	&.filete{
		margin: 0 -@cuadratin;
		padding: 0 @cuadratin;
		border-bottom: 1px solid @color-borde;
		.clearfix;
	}
}

h1 {font-size: 28px;}
h2 {font-size: 24px;}
h3 {font-size: 22px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}

// Listas
ul, ol {
  margin: 0 0 @interlinea 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  line-height: @interlinea;
  &:before{
  	.color;
  }
}

// Listas de descripciÛn o definiciÛn

dl {
	margin-bottom: @interlinea;
	dt, dd {
		line-height: @interlinea;
		}
	dt {
		font-weight: bold;
		}
	dd {
		margin-left: @interlinea / 2;
		}
}

// Otros

// Regla horizontal

hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #eee;
}


// Citas

blockquote {
  margin-bottom: @interlinea;
  border-left: 5px solid #eee;
  padding-left: 15px;
  
  
  small {
    display: block;
    color: @gris-claro;
    &:before {
      content: '\2014 \00A0';
    }
  }
}

// Direcci√≥n
address {
  display: block;
  line-height: @interlinea;
  margin-bottom: @interlinea;
}


// c√≥digo
code, pre {
  font-family: @mono;
  font-size: @cuerpo *.666;
  .border-radius(3px);
  color: fade(@negro, 50%);
}

code {
	display: inline-block;
	line-height: @interlinea * .666;
	white-space: pre;
	background-color: @ahuesado;
	padding: 0 1ex 0 1ex;
	.box-shadow(inset 0 0 1px darken(@ahuesado, 30%));
}

pre {
  background-color: #f5f5f5;
  display: block;
  padding: (@interlinea - 1) / 2;
  margin: 0 0 @interlinea;
  line-height: @interlinea;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  .border-radius(3px);
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;

}

.global{
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}

.big{
	color: @gris-claro;
	margin: -@em 0 0 0;
	
}
.main{
	color: @link-color;
	font-size: @cuerpo * 3;
}
.tdc{
	padding: @em @em*2;
	color: @gris;
	background-color: @ahuesado;
	.border-radius(1em / 5);
	margin: 1em 0;
}


//------------------------------------------------------Estilos Sem√°nticos


.estracto{
	.chico;
	line-height: @interlinea * 0.81;
}