// Nombres y Variables

// importar "Source Sans Pro" en todos sus pesos y variantes
// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900italic,700italic,600italic,400italic,300italic,200italic,700,900,600,300,200);


// Lato 100 300 400 700 800
// @import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

// "Libre Baskerville"
// @import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);

//Importando tipografías a través de Font Face


@sans:			    "SourceSansProLight", sans-serif;
@serif:				"Neuton", serif;
@mono:				"Lucida Console", monospace;
@tipografia:		@sans;
@tipografia-titulos: "SourceSansProBold";




// Grises
@negro:                         rgba(0, 0, 0, 1);
@gris-oscuro:                   lighten(@negro, 25%);
@gris:                          lighten(@negro, 50%);
@gris-claro:                    lighten(@negro, 75%);
@gris-blanco:                   rgba(51, 51, 51,.07);
@blanco:                        rgba(255, 255, 255, 1);

// Colores
@celeste:                        rgba(87, 190, 255, .95);
@azul:                          rgba(30, 105, 180, .95);
@azul-oscuro:                darken(@azul, 15%);
@verde:                                rgba(120, 170, 20, .95);
@verde-claro:                lighten(@verde, 50%);
@verde-oscuro:                darken(@verde, 15%);
@rojo:                                rgba(170, 0, 0, 1);
@rojo-oscuro:                darken(@rojo, 20%);
@amarillo:                        rgba(220, 200, 40, .95);
@ocre:                                rgba(170, 160, 70, 1);

// Especiales
@pizarra:                        rgba(50, 60, 70, 1);
@ahuesado:                        rgba(239, 242, 219, 1);
@color-borde:                lighten(@gris-claro, 10%);

// bordes
@borde-fino:                1px solid @color-borde;
@borde-grueso:                5px solid @color-borde;

// paddings
@padding-xs:				@cuerpo * .1 @cuerpo * .2;
@padding-sm:				@cuerpo * .2 @cuerpo * .6;
@padding-md:				@cuerpo * .3 @cuerpo * 0.9;
@padding-lg:				@cuerpo * .4 @cuerpo * 1.2;

// radios
@radio:                                6px;

// Links
@link-color:                @rojo;
@color-link:                @link-color;
@link-colorHover:        @rojo-oscuro;
@color-opuesto:                spin(@link-color, 180);

// Proporciones tipográficas

@cuerpo:			16px;				// tamaño tipográfico base en pixeles
@em: 				@cuerpo * 1em;		// atajo para salida en ems, ej. '12/@em'
@interlinea:		22px;



// blancos
@cuadratin:                        22px;
