// Nombres y Variables

// importar "Source Sans Pro" en todos sus pesos y variantes
// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900italic,700italic,600italic,400italic,300italic,200italic,700,900,600,300,200);


// Lato 100 300 400 700 800
// @import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

// "Libre Baskerville"
// @import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);

//Importando tipografías a través de Font Face

//@sans
@font-face {
        font-family: 'Source Sans Pro';
        src: url('../fonts/SourceSansPro.eot');
        src: url('../fonts/SourceSansPro.eot?#iefix') format('embedded-opentype'),
             url('../fonts/SourceSansPro.woff') format('woff'),
             url('../fonts/SourceSansPro.ttf') format('truetype'),
             url('../fonts/SourceSansPro.svg#CreativeBlockBBBold') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
@font-face {
        font-family: 'PT Sans';
        src: url('../fonts/PTS75F.eot');
        src: url('../fonts/PTS75F.eot?#iefix') format('embedded-opentype'),
             url('../fonts/PTS75F.woff') format('woff'),
             url('../fonts/PTS75F.ttf') format('truetype'),
             url('../fonts/PTS75F.svg#CreativeBlockBBBold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

@font-face {
        font-family: 'Pontano Sans';
        src: url('../fonts/PontanoSans-Regular.eot');
        src: url('../fonts/PontanoSans-Regular.eot?#iefix') format('embedded-opentype'),
             url('../fonts/PontanoSans-Regular.woff') format('woff'),
             url('../fonts/PontanoSans-Regular.ttf') format('truetype'),
             url('../fonts/PontanoSans-Regular.svg#CreativeBlockBBBold') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
//@serif
@font-face {
        font-family: 'Neuton';
        src: url('../fonts/Neuton-Light.eot');
        src: url('../fonts/Neuton-Light.eot?#iefix') format('embedded-opentype'),
             url('../fonts/Neuton-Light.woff') format('woff'),
             url('../fonts/Neuton-Light.ttf') format('truetype'),
             url('../fonts/Neuton-Light.svg#CreativeBlockBBBold') format('svg');
        font-weight: 400;
        font-style: normal;
    }
    
//@mono    
@font-face {
        font-family: 'Lucida Console';
        src: url('../fonts/lucon.eot');
        src: url('../fonts/lucon.eot?#iefix') format('embedded-opentype'),
             url('../fonts/lucon.woff') format('woff'),
             url('../fonts/lucon.ttf') format('truetype'),
             url('../fonts/lucon.svg#CreativeBlockBBBold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

@sans:			    "Source Sans Pro", "Pontano Sans" "Lato",'PT Sans', sans-serif;
@serif:				"Neuton",'Crimson','Noto Serif', serif;
@mono:				"Lucida Console", monospace;
@tipografia:		@sans;



// Grises
@negro:				rgba(0, 0, 0, 1);
@gris-oscuro:		lighten(@negro, 25%);
@gris:				lighten(@negro, 50%);
@gris-claro:		lighten(@negro, 75%);
@blanco:			rgba(255, 255, 255, 1);

// Colores
@celeste:			rgba(87, 190, 255, .95);
@azul:				rgba(30, 105, 180, .95);
@azul-oscuro:		darken(@azul, 15%);
@verde:				rgba(120, 170, 20, .95);
@verde-claro:		lighten(@verde, 50%);
@verde-oscuro:		darken(@verde, 15%);
@rojo:				rgba(170, 0, 0, 1);
@rojo-oscuro:		darken(@rojo, 20%);
@amarillo:			rgba(220, 200, 40, .95);
@ocre:				rgba(170, 160, 70, 1);

// Especiales
@pizarra:			rgba(50, 60, 70, 1);
@ahuesado:			rgba(239, 242, 219, 1);
@color-borde:		lighten(@gris-claro, 10%);

// bordes
@borde-fino:		1px solid @color-borde;
@borde-grueso:		5px solid @color-borde;

// paddings
@padding-chico:		@cuerpo * .25 @cuerpo * .4;
@padding:			@cuerpo * .25 @cuerpo * .6 @cuerpo *.36;
@padding-grande:	@cuerpo * .3 @cuerpo * 0.7 @cuerpo * .5;
@padding-gigante:	@cuerpo * .8 @cuerpo * 1.5 @cuerpo;

// radios
@radio:				6px;

// Links
@link-color:		@rojo;
@color-link:		@link-color;
@link-colorHover:	@rojo-oscuro;
@color-opuesto:		spin(@link-color, 180);

// Proporciones tipográficas
@cuerpo:			17px;				// tamaño tipográfico base en pixeles
@em: 				@cuerpo * 1em;		// atajo para salida en ems, ej. '12/@em'
@interlinea:		@em * 1.81;


// blancos
@cuadratin:			22px;


