//
// Estilos específicos para el theme de wordpress: Gamma
// --------------------------------------------------  

.carousel{
    .carousel-inner{
        .car-sm{
            img{
                .ancho-completo;
                .absoluto;
            }
            .pag {
                .cf;
                .h100;
                .oculto-xs {
                    .h100;
                    .derecha;
                    .cf;
                    a{
                        div{
                            .fondo-gris-blanco-trans;
                            .absoluto;
                            .abs-der;
                            .abs-sup;
                            .bloque;
                            .alto-completo;
                            .relleno;
                            h2{
                                .gris-oscuro;
                                .condensado;
                                .gruesa;
                                .sombra-cabecera-blanco-xs;
                                i{
                                    .margen-der-xs;
                                }
                            }
                            p{
                                .italica;
                                .margen-sup-sm;
                                .sombra-cabecera-blanco-xs;
                            }
                            span{
                                .cond;
                                .negro;
                                .derecha;
                                .interletraje-xs;
                                .relleno-vertical-xs;
                                .relleno-der-xs;
                                .sombra;
                                .borde 
                                .radio-md;
                                i{
                                    .negro;
                                    .relleno-der-xs;
                                    .relleno-izq-xs;
                                    .margen-der-xs;
                                    .icn-light;
                                    .sombra-cabecera-blanco-xs;
                                }
                            }
                        }
                        &:hover{
                            h2{
                                .rojo;
                            }
                        }
                    }
                }
                .oculto-md{
                    .h100;
                    .cf;
                    a{
                        div{
                            .fondo-gris-blanco-trans;
                            .absoluto;
                            .abs-der;
                            .abs-inf;
                            .bloque;
                            .relleno;
                            .ancho-completo;
                            h5{
                                .condensado;
                                .centrado;
                                .gruesa;
                                .sombra-cabecera-blanco-xs;
                                .gris-oscuro;
                                i{
                                    .margen-der-xs;
                                }
                            }
                        }
                    }
                }
            }
        }
        .car-xs{
            div {
                position: relative;
            }
            .grupo-botones {
                display: inline-block;
                position: absolute;
                z-index: 1000;
                bottom: 10px;
                left: 25px;
                a {
                    margin: 0;
                }
            }
        }
    }
}

//  Home
#index, #tag{
    //titulos o encabezados de página
    .titulo-seccion {
        .centrado;
        .fino;
        .interletraje-xs;
        .condensado;
        .gris;
        i{
            .margen-der-xs;
        }
        a{
            .condensado;
            .gris;
            i{
                .margen-der-xs;
            }
        }
    }

.docencia-flex {
    display: -webkit-flex;
    display: flex;
    a {
        margin: auto !important;
    }
}

.carousel-flex {
    display: -webkit-flex !important;
    display: flex !important;
    div {
        margin: auto 0;
        h5 {
            margin-top: -25px;
        }
    }
}
// Ejemplo de evento en Home *
.evento{
    &:nth-child(4){
        clear:both;
    }
    .fecha{
        margin-bottom: 0;
        margin-right: 0;
        border-left: none !important;
        background-color: rgba(236, 238, 230, 0.8);
        border-bottom-left-radius: @radio;
        border-bottom-right-radius: @radio;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        box-shadow: none;
        // border-radius: 0;
        .ancho-completo;
        span, p{
            .cond;
            .gruesa; 
            .gris-oscuro; 
            .centrado; 
            .relleno-xs;
        }
    }
    .contenido, .cabecera{
        display: inline-block;
        .margen-sup-xs;

        h1, h2, h3, h4, h5, h6 {
            .cond;
            .gruesa;
            a{
                .cond;
                .gruesa;
            }
        }
        .entry-details{
            .italica;
        }
        p{
            .sans;
        }
    }

    .cabecera {
        padding-left: 0;
        display: -webkit-flex;
        display: flex;
      h5 {
        margin: auto 0 !important;
      }
    }
    &:hover {
        background-color: fade(#fff, 70%);
        .transition(.2s ease all);
    }
}

// Ejemplo de publicacion en Home *
   .publicacion{
        margin-bottom: 15px;
        &:nth-child(1){
            clear:both;
        }
        .entry-details{
            .italica;
            .relleno-sup-xs;
        }
        p{
            .sans; 
        }
        .categoria{
            i{
                .margen-der-xs; 
                .fondo-blanco;
                .linea-lateral; 
                .relleno-xs; 
                .icn-light; 
                .borde; 
                .radio-sup-der-sm; 
                .radio-inf-der-sm;
                .sombra; 
                .negro;
                // Por ancho de íconos 1em desde stampa
                width: 1.8em !important;
            }
            h1, h4, h2, h3, h4, h5, h6{
                .altas; 
                .gris-oscuro; 
                .en-linea; 
                .relleno-izq-xs; 
                .interletraje-xs; 
                .sombra-cabecera-claro-xs;
                .gruesa;
                .condensado;
            }
            &:hover{
                h1, h4, h2, h3, h4, h5, h6{
                    .gris-oscuro !important;
                }
            }
        }
        h1, h4, h2, h3, h4, h5, h6{
            .cond;
            .gruesa;
            a{
                .cond;
                .gruesa;
            }
        }
        &:hover {
            .transition(.2s ease all);
            background-color: fade(#fff, 70%);
            h1, h2, h3, h4, h5, h6 {
                a{
                    .transition(.2s ease all);
                    .rojo;
                }
            }
        }
    }

    .entry-title{
        &.especifico{
            .gruesa; 
            .gris-oscuro; 
            .condensado;
            .sombra-cabecera-claro-sm;
        }
    }

}

    .fecha{
        .borde; 
        .izq-lineal-sm;
        .relleno-vertical-sm; 
        .borde-rojo; 
        .margen-inf-xs; 
        .sombra; 
        .radio-sup-der-md; 
        .radio-inf-der-md; 
        .fondo-blanco;
        .margen-der-md;
        p.dia{
            .rojo;
            .centrado !important;
        }
        span.mes{
            .condensado; 
            .rojo;
            .interletraje-sm;
        }
    }
    // Fecha
    .fecha-movil{
        .borde; 
        .izq-lineal-sm; 
        .borde-rojo; 
        .radio-sup-der-md; 
        .radio-inf-der-md;
        .relleno-vertical-xs; 
        .margen-der-sm; 
        .sombra; 
        .fondo-blanco;
        // Día
        .dia{
            .rojo;
            .centrado;
        }
        // Mes
        .mes{
            .condensado;
            .rojo;
            .interletraje-sm;
        }
    }

// Lectura de evento desplegado *
#single-event{
    h1, h4, h2, h3, h4, h5, h6 .entry-title{
         .gruesa; 
         .condensado; 
         .ancho-auto;
         .gris-oscuro
    }
}
// Page *
#page{
    #ejemplo-sticky{
        ul{
            .margen-der-sm;
            li{
                a{
                    h6{
                        .negro; 
                        .condensado; 
                        .gruesa; 
                        .texto-derecha; 
                        .bloque; 
                        .relleno-der-xs;
                        i{
                            .sombra-cabecera-claro-xs;
                            .margen-izq-xs;
                        }
                    }
                }
            }
        }
    }

    .page-contenido, .e-content, .p-sumary{
        p{
            .sans;
            a{
                .sans;
                &.italica, cite{
                    .serif;
                }
            }
            img{
                .ancho-completo;
                .margen-inf-sm; 
                .borde;
                .radio-md;
            }
        }
        h3, h4{
            .gruesa;
            .gris-oscuro;
            i{
                .margen-der-xs;
            }
        }
        h5{
            .serif;
            .italica;
            .gris-oscuro;
            .negrita;
        }
        img{
            .ancho-completo;
            .margen-inf-sm; 
            .borde;
            .radio-md;
        }
        ul{
            li{
                .italica;
            }
        }
    }
}
// Page full o página completa (Historia) *
#page-full{
    h1 .title{
        .condensado;
        .gruesa;
        .gris-oscuro;
        .relleno-inf-sm;
    }
    h2, h3, h4, h5, h6{
        .gris-oscuro; 
        .italica; 
        .relleno-inf-sm;
    }
    .entry-title{
        .absoluto; 
        .margen-inf-md; 
        .relleno-inf-lg; 
        .abs-der; 
        .abs-izq; 
        .abs-inf; 
        .interletraje-xs; 
        .en-linea; 
        .ancho-auto; 
        .centrado; 
        .condensado; 
        .gruesa; 
        .sombra-cabecera-neutro-xs;
        .blanco;
        font-style: normal;
    }
    .subtitulo{
        .absoluto; 
        .relleno-inf-lg;
        .abs-der; 
        .sombra-cabecera-neutro-xs; 
        .interletraje-md; 
        .abs-izq; 
        .abs-inf; 
        .en-linea; 
        .ancho-auto; 
        .semi-gruesa;
        .centrado; 
        .sans; 
        .blanco;
        .altas;
        font-style: normal;
    }
    p{
        .bloque; 
        .margen-auto; 
        .w55; 
        .negro; 
        .relleno-inf-sm;
    }
    span.wp-caption-text{
        .sans; 
        .blanco; 
        .italica; 
        .w45; 
        .relleno-sup-lg; 
        .margen-sup-lg; 
        .sombra-cabecera-oscuro-xs;
        &.derecha{
            .derecha; 
            .texto-derecha; 
        }
        &.referencia{
            .condensado !important;
            font-style: normal;
        }
    }
    .personaje{
        img{
            .alto-completo;
            .ancho-completo;
            .margen-inf-xs;
            .borde; 
            .radio-md;
        }
        h1, h4, h2, h3, h4, h5, h6 .title{
            .interletraje-sm; 
            .ancho-completo;
            .sans; 
            .altas; 
            .margen-sup-xs; 
            .derecha;
            .texto-derecha;
            .negro;
            .margen-inf-xs;
            .relleno-inf-xs;
        }
        span{
            .texto-derecha; 
            .italica;
            .margen-inf-sm
        }
        p{
            .bloque; 
            .negro; 
            .w68; 
            .relleno-inf-sm;
            margin: 0 !important;
        }
    }
}


#portada-informacion{
        .fila{
            .margen-inf-sm;
        }
        h1{
            .gruesa; 
            .negro; 
            .condensado; 
            .sombra-cabecera-claro-sm; 
            .margen-inf-sm; 
        }

        h2, h3, h4, h5, h6 .title{ 
            .condensado;
            .relleno-inf-xs; 
            .sombra-cabecera-claro-xs;
            a{
                .condensado; 
                .gris-oscuro; 
                .gruesa;
                i{
                    .margen-der-xs; 
                    .sin-interletraje;
                }
                &:hover{
                    .rojo;
                }
            }
        }
        .entry-details, .datos-publicacion{
            .rojo; 
            .italica; 
            .borde; 
            .sup-lineal-xs;
            .inf-lineal-xs;
            .relleno-vertical-xs;
            a{
                .en-linea;
                .icn-cuadrolleno{
                    .gris-blanco;
                }
                .icn-lapiz{
                    .gris-oscuro;
                }
            }
        }
        p{
            .sans;
            .margen-sup-xs;
        }
}

// noticia genérica (resumen)
.noticia{
    .cabecera{
        .alto-xs;
        .margen-inf-xs;
        .borde;
        .radio-md;
        .ocultar-desborde;
        margin-top: 15px;
        min-height: 180px;
        a{
            img{
                // .w150;
                .w110;
                // .margen-sup-negativo;
                // .transition(.2s ease all);
            }
            // &:hover{
            //     img{
            //         .relleno-der-sm;
            //         .transition(.2s ease all);
            //     }
            // }
            display: block; // Para contener a la imagen
            line-height: 0; // Para evitar un relleno en la parte inferior
        }
    }
    h1, h4, h2, h3, h4, h5, h6{
        .condensado;
        // .sombra-cabecera-claro-xs;
        .relleno-inf-xs;
        a{
            .condensado; 
            .gruesa;
            .gris-oscuro;
        }
    }
    .entry-details, .datos-publicacion{
        .relleno-vertical-xs;
        .rojo; 
        .italica; 
        .borde; 
        .sup-lineal-xs;
        .inf-lineal-xs;
        //.relleno-vertical-xs;
        font-size: 13px;
        a{
            .en-linea;
            .icn-cuadrolleno{
                .gris-blanco;
            }
            .icn-lapiz{
                .gris-oscuro;
            }
        }
    }
    p{
        .sans;
        .margen-sup-xs;
    }
    .margen-inf-sm;
    &:hover {
        .transition(.2s ease all);
        background-color: fade(#fff, 70%);
        h1, h2, h3, h4, h5, h6 {
            a{
                .transition(.2s ease all);
                .rojo;
            }
        }
    }
}

#portadilla{
    // Necesario fondo por z-index de imagen fixed 
    background: @gris-blanco url("/img/ruido-fondo-pyxis.png") repeat center;
    // Necesario margen negativo para sobreponer fondo con imagen fixed 
    margin-bottom: -25px;
    margin-top: -25px;

        h3, .title{ 
            .sans;
            .gruesa;
            i{
                .margen-der-xs;
            }
        }

        h5{
            .serif; 
            .italica; 
            .negrita;
        }

        p{
            .sans;
        }
}

#sidebar{
    .seccion{
        .interletraje-xs;
        .negro; 
        .condensado; 
        .gruesa; 
        .altas;
    }
    ul, ol{
        li{
            .relleno-vertical-xs; 
            .borde; 
            .inf-lineal-xs; 
            .rojo;
            &:first-child{
                .borde;
                .sup-lineal-xs;
            }
            a{
                .sans;
                .semi-gruesa;
            }
        }
        img{
            .ancho-completo; 
            .borde; 
            .radio-md;
        }
    }
}

.entry-title {
    .gris-oscuro; 
    .gruesa; 
    .condensado;
}

.entry-details{
    .italica;
}


// Post en Gamma (estilos de Gamma)

// El fondo estaba aplicado en el html, ahora se insertan en el LESS
#post, #portadilla {
    background: url(../img/ruido-fondo-pyxis.png) repeat center;
}
.nav-ead {
    padding-top: 25px;
    background: url(../img/ruido-fondo-pyxis.png) repeat center;    
}

#tag {
    .fila {
        clear: both;
    }
}

#sidebar ul li {
    list-style: none !important;
}

// Fin copia temporal de giornata.less

.h-entry {
    width: 90%;

    img{
        .margen-inf-xs; 
    }

    p{
        img{
            .margen-inf-xs;
            width: 100%;
            height: 100%;
        }
    }

    .wpcf7{
            width: 65%;
        }

        &.enunciado{
            width: 100% !important;
    }
} // Fin de h-entry

.e-content, .p-summary, .p-name {
    width: 100%;
    margin: 0 auto;
}

// Diseño de paginador (nav de entre páginas)
//---------------------------------------------

.wp-pagenavi {
    .pages{
        border-color: transparent;
        .italica;
        .rojo;
        .relleno-der-sm;
        font-size: 13px;
    }
    .current{
        background-color: #eceee6;
        border-color: transparent !important;
    }
    .extend {
        .rojo;
    }
    .page, .nextpostslink, .previouspostslink, .current, .extend, .last{
        padding: 5px 10px;
        margin-right: 5px;
        border-color: transparent;
    }
    .page, .nextpostslink, .previouspostslink, .last{
        &:hover {
            background-color: #a84744;
            color: #fff;
            border-color: transparent !important;
            .transition(.2s ease all);
        }
    }
}  

// Diseño de lista de páginas hijas
//------------------------------------------------

.paginas-hijas {
    .margen-sup-md;
    .margen-inf-md;
    .pagenav {
        .rojo;
        .serif;
        list-style: none;
        .fino;
        font-style: italic;
        ul {
            .margen-sup-xs;
            li {
                font-style: normal;
                list-style: none;
                .relleno-sup-xs;
                .relleno-inf-xs;
                a {
                    color: darken(@gris-claro, 10%);
                }
                // border:1px solid orange;
                ul li {
                    padding-bottom: 0 !important;
                }
                a:hover {
                    .rojo;
                    .transition(.2s ease all);
                    
                }
            }
        }
    }
}

// Diseño de comentarios y caja para comentar
//------------------------------------------------

// Caja para dejar comentario
.comment-respond {
    // Rótulo
    .comment-reply-title{
        height: 23px;
        font-size: 18px;
        margin-top: -33px;
        .italica;

        #cancel-comment-reply-link {
            border:1px solid @rojo;
            border-radius: @radio;
            float: right;
            padding: 5px;
            .rojo;
            &:hover {
                .gris;
                border-color: @gris;
            }
        }
    }
    // Notas
    .comment-notes {
        .gris;
        .fino;
        font-size: 14px;
    }
    // Caja de comentario
    .comment-form {
        border-color: fade(@gris-claro, 40%);
        background-color: fade(#fff, 20%);
    }
}

// Caja de comentario realizado 
.comment {
    list-style: none;
}
.comment-body {
    padding: 10px;
    border:1px solid fade(@gris-claro, 40%);
    border-radius: @radio;
    background-color: fade(#fff, 20%);
    .margen-inf-md;
    // Datos del autor
    .comment-author  {
        display: inline-block;
        width: 100%;
        display: -webkit-flex;
        display: flex;
        img {
            float: left;
            margin: 0;
            list-style: none;
        }
        .fn {
            font-size: 18px;
            .sans;
            font-style: normal;
            margin: auto 15px;
        }
        .says {
            padding-top: 2px;
            font-size: 14px;
            .italica;
            .sans;
        }
    }
    // Datos de la publicación
    .comment-meta {
        padding: 10px 0;
        font-size: 13px;
        .italica;
        .serif;
        .margen-inf-xs;
    }
    // Esperando moderación
    .comment-awaiting-moderation {
        font-size: 11px;
        color: darken(@gris-claro, 10%);
        .fino;
        .sans;
        font-style: normal;
    }
    // Realizar una respuesta
    .reply {
        padding: 10px;
        display: inline-block;
        width: 100%;
        .comment-reply-link {
            border:1px solid @gris-claro;
            border-radius: @radio;
            float: right;
            padding: 5px;
            .gris-claro;
            &:hover {
                .rojo;
                border-color: @rojo;
            }
        }
    }
}


.pag.cf {
    margin-bottom: 16px;
}
.pagina {
    
    padding: 0 10px;

    // Tamaños

    &.xs {
        min-height: 90px;
        padding: 0px;

        img {
            width: @cuadratin * 1.5;
            opacity: .8;
        }
    }

    &.sm {
        height: @cuadratin * 8;

        &:hover {
            padding-top: 8px;
        }
    }

    &.md {
        height: @cuadratin * 14;
    }
}

.wrap {
    margin: 0 auto;
    padding: 30px 0 30px 0;

    &.header {
        padding: 5px 0 5px 0;
        height: 100px;
    }
}

.wrap-ancho-maximo {
    width: 100%;
    padding: 30px 0 0 0;
}

.wrap-carousel {
    max-width: 1366px;
    margin: 0 auto;
}

.contenedor-sin-relleno {
    .container();
    width: 1366px;
    margin: 0 auto;
    padding: 0;
}

.contenedor-lg {
    .container();
    width: 100%;
    margin: 0 auto;
    padding: 0;
}


// Ajuste de imágenes
// -------------------------
    
.ancho-maximo {
    width: 100%;
}

.centrado-vertical {
    bottom: -80%;
    position: absolute;
}

.prev-imagen {
    position: relative;
    overflow: hidden;

        img{
            overflow: hidden;
        }

    // Tamaños

    &.xs {

    }

    &.sm {
        margin: 0;
        height: @cuadratin * 6;
        padding: 0px;
        margin-bottom: 15px;

        img {
            width: 100%;
        }
    }

    &.md {
        margin: 0;
        padding: 0;
        height: @cuadratin * 14;
        width: 100%;
        position: relative;
        display: inline-block;
        background: black;
        padding: 0;

        img {
            height: auto;
            width: 145%;

        }
    }

    // Extensión de clases

    &.franja {
        width: 100%;
        height: 450px;
        margin-bottom: 30px;

        img {
            width: 100%;
            height: auto;
            /*left: -50%;
            position: absolute;
            top: -50%;*/
        }
    }

    &.portada-imagenes {
        height: auto;
        margin-bottom: 15px;
        width: 100%;

            img {
                width: 100%;
        }
    }
}

// --------------------------------------------------
// diseño de utilidad responsive

// Extra small screen / phone
@media(max-width: @screen-xs-max){

    // Ajuste de página
    .wrap, .contenedor-sin-relleno, .wrap-footer {
    width: 90%;
    }

    .wrap {
        &.header {
            height: auto;
        }
    }

    .h-entry {
        width: 100%;
    }

    .e-content, .p-summary, .p-name {
        width: 100%;
    }

    #page-full{
        p{
            .w100;
        }
    .personaje{
        img{
            .ancho-completo;
            .margen-inf-xs;
            .borde; 
            .radio-md;
        }
        p{
            .w100; 
        }
    }
    }

    #post, .h-entry, .e-content, .p-summary, .p-name{
        p{
            .margen-sup-sm;
        }
        #breadcrumb{
            .margen-inf-xs !important;
        }
        blockquote, .wp-caption-text{
            line-height: 22/@em;
            font-size: @cuerpo;
        }
    }

    .docencia-flex {
        display: none !important;
    }
    .noticia {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        margin-bottom: 40px;
    }

}


// Small screen / tablet
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){

    // Ajuste de página
    .wrap, .contenedor-sin-relleno, .wrap-footer {
    width: 90%;
    }

    .contenedor-sin-relleno {
        margin: 0;
    }

    .h-entry {
        width: 95%;
    }

    .e-content, .p-summary, .p-name {
        width: 100%;
    }


    .wrap {
        &.header {
            height: auto;
        }
    }

    #portadilla{
        .noticia{
            .cabecera{
                height: 130px;
            }
        }
    }

    #post, .h-entry{
        #breadcrumb{
            .margen-inf-xs !important;
        }
        ul, ol{
            margin: 0px !important;
            padding-bottom: 10px !important; 
        }
    }
}

// Medium screen / desktop

@media (min-width: @screen-md) and (max-width: @screen-md-max){

    // Ajuste de página
    .wrap, .contenedor-sin-relleno, .wrap-footer {
    width: 80%;
    }

    .contenedor-sin-relleno {
        margin: 0;
    }

    .wrap {
        &.header {
            height: 140px;
        }
    }
}

// Large screen / wide desktop

@media (min-width: @screen-lg){

    // ajuste de página
    .wrap, .wrap-footer {
        max-width: 1366px;
    }
}