
<a name='ancla' id='a'></a>
<div class='menu-affix'>
<div data-spy="affix" data-offset-top="300" data-offset-bottom="400">
    <ul>
        <!--<li><a class='gris-oscuro semi-gruesa' href='#titulo-uno'>{% page.ancla1 %}</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-dos'>{% page.ancla2 %}</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-tres'>{% page.ancla3 %}</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-cuatro'>{% page.ancla4 %}</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-cinco'>{% page.ancla5 %}</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-seis'>{% page.ancla6 %}</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-siete'>{% page.ancla7 %}</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-ocho'>{% page.ancla8 %}</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-nueve'>{% page.ancla9 %}</a></li>
    </ul>               
</div>
</div>