<header>
    <div class='franja xl'>
        <div class='leyenda'>
            <div class='col-md-12 col-sm-12 col-xs-12' style='z-index: 2'>
                <img class='imagen-index' src='img/pyxis-brujula-negro-06.png'><h1 class='gigante margen-inferior margen-superior-s'><span class='sombra-cabecera gruesa rojo-claro'>Pyxis</span> <span class='sombra-cabecera fino gris'>framework</span></h1>
                <a class='btn btn-lg btn-accion margen-inferior' href='github-mac://openRepo/https://github.com/eadpucv/pyxis'>Descargar Pyxis</a>
            </div>
        
            <div class='col-lg-12 col-md-12 col-sm-12 oculto-xs'>
                <p class='cita italica'>"La verdad se encuentra dentro de una pequeña brújula, pero el margen de error es inmenso".</p><p class='autor'>William Blake</p>
            </div>
        </div>
    </div>
</header><!-- fin descarga de pyxis -->