<header>
    <div class='franja xl'>
        <div class='leyenda'>
            <div class='col-md-12 col-sm-12 col-xs-12' style='z-index: 2'>
                <img class='imagen-index' src='img/pyxis-brujula-negro-06.png'>
                <h1 class='gigante'><span class='sombra-cabecera gruesa rojo-claro'>Pyxis</span> <span class='sombra-cabecera fino gris-claro'>framework</span><span class='md'> beta v2.0</span></h1>
                <div class='pag sin-relleno'>
                <h6 class='gris-claro centrado'>Pyxis delimita los componentes visuales y estructurales del ecosistema digital de la Escuela de Arquitectura y Diseño e[ad] de la Pontificia Universidad Católica de Valparaíso, construyendo una estructura gráfica unificada coherente entre las diversas plataformas de la organización.</h6>
                <!--<p class='cita italica'>"La verdad se encuentra dentro de una pequeña brújula, pero el margen de error es inmenso".</p>
                <p class='autor'>William Blake</p>-->
                <h1>Descargar Pyxis</h1>
                <p class='gris-claro xs'>El método de descarga del framework se ajusta a 3 variantes dependiendo del entorno de trabajo que se tenga establecido. </p>
                <div class='col-md-4'>
                    <a class='btn btn-lg btn-accion margen-inferior' href='github-mac://openRepo/https://github.com/eadpucv/pyxis'>Pyxis Github</a>
                    <p class='gris-claro xs'>La versión del repositorio alojado en ofrece la versión donde únicamente está pyxis, si se quiere trabajar con las dependencias Stampa y jQuery hay que descargarlas de manera separada.</p> 
                </div>
                <div class='col-md-4'>
                    <a class='btn btn-lg btn-accion margen-inferior' href='https://github.com/eadpucv/pyxis/archive/gh-pages.zip'>Pyxis.zip <i class="icn icn- documento-l"></i></a>
                    <p class='gris-claro xs'>Al descargar la versión zip del framework se tiene acceso a la versión minificada del framework igualmente funcional.</p>
                </div>
                <div class='col-md-4'>
                    <a class='btn btn-lg btn-accion margen-inferior' href='github-mac://openRepo/https://github.com/eadpucv/pyxis'> Pyxis bower <i class="icn icn-bower"></i></a>
                    <p class='gris-claro xs'>Mediante la instalación con bower se obtiene la versión más completa del repositorio, ofreciendo también completamente sus dependencias incluídas como componentes del framework.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</header><!-- fin descarga de pyxis -->