<header>
    <div id='parallax-index' class='franja xl'>
        <div class='leyenda'>
            <div class='col-md-12 col-sm-12 col-xs-12' style='z-index: 2'>
                <img class='imagen-index por-defecto' src='img/pruebaspyxislogo8.png'>
                <h1 class='gigante sin-margen'><span class='gruesa rojo-claro'>Pyxis</span> <span class='fino'>framework</span><br><span class='xs'>Actualmente v3.0</span></h1>
                <div class='pag sin-relleno'>
                <blockquote class='sm negro-oscuro italica'>"La verdad se encuentra dentro de una pequeña brújula, <br>pero el margen de error es inmenso".</blockquote>
                <p class='autor rojo-claro semi-gruesa'>William Blake</p>
                <p class='centrado md'>Pyxis framework delimita los componentes visuales y estructurales del ecosistema digital de la Escuela de Arquitectura y Diseño e[ad] de la Pontificia Universidad Católica de Valparaíso, construyendo una estructura gráfica unificada coherente entre las diversas plataformas de la organización.</p>
                <h1 class='rojo-claro'>Descarga Pyxis</h1>
                <p class='sm'>El método de descarga del framework se ajusta a 3 variantes dependiendo del entorno de trabajo que se tenga establecido. </p>-->
                <div class='col-md-4'>
                    <a class='btn btn-lg btn-accion margen-inf' data-toggle="modal" data-target="#modal_de_ejemplo" href='#'> Pyxis bower <i class="icn icn-bower"></i></a>
                    <p class=''>Mediante la instalación con <a href='http://bower.io/'>bower</a> se obtiene la versión más completa del repositorio, ofreciendo también completamente sus dependencias incluídas como componentes del framework.</p>
                </div>
                <div class='col-md-4'>
                    <a class='btn btn-lg btn-accion margen-inf' href='https://github.com/eadpucv/pyxis/archive/gh-pages.zip'>Pyxis.zip <i class="icn icn-descargar"></i></a>
                    <p class=''>Incluye todas sus dependencias, permitiendo usar el framework apenas descargado. Sin embargo no habrá manera de que se actualicen las dependencias y el framework en una nueva versión automáticamente.</p>
                </div>
                <div class='col-md-4'>
                    <a class='btn btn-lg btn-accion margen-inf' href='github-mac://openRepo/https://github.com/eadpucv/pyxis'>Pyxis Github </a>
                    <p class=''>La versión del repositorio alojado en ofrece la versión donde únicamente está pyxis, si se quiere trabajar con las dependencias <a href='https://github.com/eadpucv/stampa'>Stampa</a> y <a href='http://jquery.com/'>jQuery</a> hay que descargarlas de manera separada.</p> 
                </div>
                </div>
            </div>
        </div>
    </div>
</header><!-- fin descarga de pyxis -->

<div class="modal fade" id="modal_de_ejemplo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Instalación mediante Bower</h4>
            </div>
            <div class="modal-body">
                <p><code>$ bower install pyxis</code></p>
              <p>Instalar el framework a través de bower es el método recomendado puesto que de esta manera se garantiza que se descargue con sus dependencias en sus versiones más actualizadas. 
              </p>
              <p>Para instalar bower introduce la siguiente línea:
                <code>$ npm install -g bower</code>
                Para ejecutar esta línea, debes tener instalado <a href='http://nodejs.org/'>Node - npm</a> y <a href='http://git-scm.com/'>Git</a>.
              </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>    
        </div>
    </div>
</div>