<header>
	<div class='franja xs'>
		<div class='fila margen-superior'> 
			<div class='pag'>
				<canvas data-processing-sources='{{ site.baseurl }}/pjs/{{ page.pde }}'></canvas>   
				<div class='leyenda'>
					<h2><span class='gruesa rojo-claro'>Pyxis</span> <span class='fino gris'>framework</span> <span class='chico gris-claro'>1.0.1</span>
					<h1 class='gigante gris-claro fina'>{{ page.subtitle }}</h1>
				</div>
			</div>            
		</div>
	</div>
</header>

<!-- Menú affix -->
<a name='ancla' id='a'></a>
<div class='col-lg-4 oculto-md oculto-sm oculto-xs menu-affix'>
<div data-spy="affix" data-offset-top="300" data-offset-bottom="400">
    <ul>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-uno'>Familias Tipográficas</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-dos'>Valores tipográficos</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-tres'>Títulos</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-cuatro'>Subtítulos</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-cinco'>Grosores</a></li></a>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-seis'>Estilos de carácter</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-siete'>Alineación</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-ocho'>Listas</a></li>
        <li><a class='gris-oscuro semi-gruesa' href='#titulo-nueve' id='ancla'>Clases diferenciales</a></li>
    </ul>                                                                      
</div>
</div><!-- fin Menú affix -->
