<header>
     <div class='fila'>
          <div class='col-md-24 col-sm-12 col-xs-24'>
               <h1 class='gigante'><span class='gruesa rojo-claro'>Pyxis</span> <span class='fino'>framework</span> <span class='chico gris-claro'>1.0.1</span></h1>
          </div>

          <div class='col-md-24 col-sm-12 col-xs-24'>
               <p class='margen-inferior grande italica gris'>"La verdad se encuentra dentro de una pequeña brújula, pero el margen de error es inmenso".</p>
          </div>
     </div>

     <div class='fila margen-inferior'>
          <div class='col-md-24 col-sm-24 col-xs-24'>
               <p class='chico fino'>Proyecto de código abierto desarrollado por <a href="http://www.ead.pucv.cl/mundo/investigacion/tig/"><strong>Taller de Investigaciones Gráficas .:TIG:.</strong></a> y disponible en <a class='btn btn-sm' href='http://eadpucv.github.io/EGO' title='LLG en Github'>Github</a></p>
          </div>
     </div>
</header>