<footer>
    <hr> 
    <div class='pag menu'> 

        <div class='col-md-12'>
            <p>
                <a rel='license' href='http://creativecommons.org/licenses/by/3.0/deed.es_CL'><img alt='Licencia Creative Commons' style='border-width:0' src='http://i.creativecommons.org/l/by/3.0/80x15.png' /></a> <span xmlns:dct='http://purl.org/dc/terms/' href='http://purl.org/dc/dcmitype/InteractiveResource' property='dct:title' rel='dct:type'>e[ad] Pyxis</span> por <span xmlns:cc='http://creativecommons.org/ns#' property='cc:attributionName'>Taller de Investigaciones Gráficas .:TIG:.</span> se encuentra bajo una <a rel='license' href='http://creativecommons.org/licenses/by/3.0/deed.es_CL'>Licencia Creative Commons Atribución 3.0 Unported</a>.<br />Basada en una obra en <a xmlns:dct='http://purl.org/dc/terms/' href='http://eadpucv.github.io/EGO' rel='dct:source'>http://eadpucv.github.io/pyxis</a>.
            </p>
        </div> 
        
        <div class='col-md-12'>
            <address>
                <a href="http://www.ead.pucv.cl/mundo/investigacion/tig/">.:TIG:. Taller de Investigaciones Gráficas</a><br />
                e[ad] Escuela de Arquitectura y Diseño<br />
                Matta 12, Recreo<br />
                Viña del Mar<br />
                fono: +56322274401<br />
                fax: +56322274421
            </address>
            </div>
    </div>
</footer>