<footer class='fondo-negro'> 
  <div class='fondo-negro-fundido'>
  <div class='pag'>
    <div class='fila'>
      <div class='col-md-4 col-sm-5 col-xs-12'>
        <h6 class='sin-margen'><a href='#' class='ahuesado sans'>Escuela de Arquitectura y Diseño</a></h6>
        <h6 class='xs fino sans blanco'>Pontificia Universidad Católica de Valparaíso</h6>
        <h6><a href='#' class='ahuesado sans fino'><i class='icn icn-light icn-email margen-der-xs'></i>Contacto</a></h6>
        <p class='xs sans blanco sin-margen'>Matta 12, Recreo, Viña del Mar, Chile.</p>
        <p class='xs sans blanco sin-margen'>Cód. Postal: 2580129, Casilla 4170 V2 Valparaíso.</p>
      </div>
      <div class='col-md-4 col-sm-4 col-xs-12'>
        <p class='xs fino sans gris sin-margen'>1998 - 2014 | <a href='#' class='sans blanco'>Suscripción (RSS)</a> | <a href='#' class='sans blanco'>Cómo Suscribirse</a> | <a href='#' class='sans blanco'>Colofón</a> | Optimizado para <a href='#' class='sans blanco'>Firefox</a>.</p>
        <p class='xs fino sans gris relleno-inf-xs sin-margen relleno-inf-sm'>e[ad] de la Escuela de Arquitectura y Diseño PUCV está licenciado bajo <a href='#' class='sans blanco'>Creative Commons Atribución-No Comercial-Licenciar Igual 2.0 Chile License</a>.</p>
      </div>
      <div class='col-md-4 col-sm-3 col-xs-12'>
        <a class='en-linea derecha responsive-izquierda' href='#'>
         <span class="icn-stack">
          <span class="icn icn-cuadrolleno icn-stack-2x"></span>
          <span class="icn icn-facebook icn-stack-1x blanco"></span>
        </span>
        </a>
        <a class='en-linea derecha responsive-izquierda' href='#'>
        <span class="icn-stack">
          <span class="icn icn-cuadrolleno icn-stack-2x"></span>
          <span class="icn icn-twitter icn-stack-1x blanco"></span>
        </span>
        </a>
        <a class='en-linea derecha responsive-izquierda' href='#'>
        <span class="icn-stack">
          <span class="icn icn-cuadrolleno icn-stack-2x"></span>
          <span class="icn icn-flickr icn-stack-1x blanco"></span>
        </span>
        </a>
        <a class='en-linea derecha responsive-izquierda' href='#'>
        <span class="icn-stack">
          <span class="icn icn-cuadrolleno icn-stack-2x"></span>
          <span class="icn icn-soundcloud icn-stack-1x blanco"></span>
        </span>
        </a>
        <a class='en-linea derecha responsive-izquierda' href='#'>
        <span class="icn-stack">
          <span class="icn icn-cuadrolleno icn-stack-2x"></span>
          <span class="icn icn-vimeo icn-stack-1x blanco"></span>
        </span>
        </a>
        <p class='relleno-sup texto-derecha bloque derecha responsive-izquierda ancho-completo italica bloque xs fino serif blanco sin-margen'>Diseñado con librería digital de estilos</p>
        <div class='logo-pyxis ancho-completo margen-sup-xs'>
        <a class='sin-relleno bloque derecha responsive-izquierda texto-derecha' href='{{ site.baseurl }}/'>
          <h6 class='gruesa sans rojo sin-margen relleno-izq-xs relleno-inf-xs no-responsivo'>
            <img class='margen-der-xs' src='{{ site.baseurl }}/img/pyxis-logo-sm.png'>Pyxis<span class='fino blanco sans relleno-izq-xs'>framework</span>
          </h6>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id='mapa'>
    <a href="https://www.google.cl/maps/place/e%5Bad%5D+Escuela+de+Arquitectura+y+Dise%C3%B1o,+Pontificia+Universidad+Cat%C3%B3lica+de+Valpara%C3%ADso/@-33.026795,-71.582344,17z/data=!3m1!4b1!4m2!3m1!1s0x9689e752f2654cc9:0x3339a1db01203779"><img src="http://www.ead.pucv.cl/wp-content/themes/gamma/img/imagenfooter-google.png" alt="ubicación de la e[ad]">
    <img src=" {{ site.baseurl }}/img/imagenfooter-google.png" alt="ubicación de la e[ad]">
    </a>
  </div>
    <script src="{{ site.baseurl }}/js/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/collapse.js"></script>
    <script src="{{ site.baseurl }}/js/carousel.js"></script>
    <script src="{{ site.baseurl }}/js/transition.js"></script>
    <script src="{{ site.baseurl }}/js/modal.js"></script>
    <script src="{{ site.baseurl }}/js/tooltip.js"></script> 
    <script src="{{ site.baseurl }}/js/popover.js"></script>
    <script src="{{ site.baseurl }}/js/affix.js"></script>
    <script src="{{ site.baseurl }}/js/scrollspy.js"></script>
    <script src="{{ site.baseurl }}/js/dropdown.js"></script>  
    <script src="{{ site.baseurl }}/js/nav.js"></script>  
    <script src="{{ site.baseurl }}/js/smooth-scroll.js"></script>
    <script src="{{ site.baseurl }}/js/tab.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.sticky.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.parallax-1.1.3.js"></script>  
    <script src="{{ site.baseurl }}/js/jquery.localScroll.js"></script>
    <script src="{{ site.baseurl }}/js/justify-content/justify-content.js"></script>
<!-- inicio de scripts -->
<script> 
$('#carousel-home, #carousel-enlaces, #carousel-portada').carousel();
</script>
<script>
  $('div#scroll-able').scrollspy({ target: '#target_nav' });
</script>
<script> 
  $('.tooltip-demo').tooltip({selector: "a[data-toggle=tooltip]"});
</script>
<script>
$('#tabla-contenido a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
<script> 
    $('#popover-test').popover();
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('body').localScroll(2000);
    //.parallax(xPosition, speedFactor, outerHeight) options:
    //xPosition - Horizontal position of the element
    //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
    //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
    $('#parallax, .ejemplo1, .ejemplo2, .ejemplo3, .universo').parallax("50%", 0.1, true);
    $('#parallax-historia, .foto-1, .foto-2, .foto-3, .foto-4').parallax("100%", 0.1, true);
    $('#lala, .foto-5, .foto-6, .foto-7').parallax("100%", 0.1, true);
    $('#lolo, .foto-8, .foto-9, .foto-10').parallax("0%", 0.1, true);

  })
</script>
  <!-- Smooth Scoolling -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('a[href*=#]').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
        && location.hostname == this.hostname) {
          var $target = $(this.hash);
          $target = $target.length && $target
          || $('[name=' + this.hash.slice(1) +']');
          if ($target.length) {
            var targetOffset = $target.offset().top;
            $('html,body')
            .animate({scrollTop: targetOffset}, 750);
           return false;
          }
        }
      });
    });
</script><!-- fin de Smooth Scoolling -->
  <!-- Menu Sticky -->
    <script type='text/javascript'>
      $(document).ready(function(){
      $("#sub-componentes").sticky({topSpacing: 0});
      $("#ejemplo-sticky").sticky({topSpacing: 50});
      $("#ejemplo-sticky-2").sticky({topSpacing: 80});
      $("#ejemplo-sticky-3").sticky({topSpacing: 110});
      $("#ejemplo-sticky-4").sticky({topSpacing: 140});
      $("#ejemplo-sticky-5").sticky({topSpacing: 170});
      $("#ejemplo-sticky-6").sticky({topSpacing: 200});
      $("#ejemplo-sticky-7").sticky({topSpacing: 230});
      $("#ejemplo-sticky-8").sticky({topSpacing: 260});
      $("#ead-sticky").sticky({topSpacing: 40});
      $("#meta-barra").sticky({topSpacing: 0});
      $("#nav-page").sticky({topSpacing:30});
      $("#fondo-publicacion").sticky({topSpacing: 0});
      });
    </script>
    <!-- fin menú sticky -->
    <script type='text/javascript'>
    jQuery(document).ready(function($) {
    $('a[href=#topbar]').click(function(){
        $('html, body').animate({scrollTop:0}, 'slow');
        return false;
    });
}); 
    </script>

  <script>
 (function($) {
    var limit_bottom=$('#titulo-post').height(); 
    $('.titulo-post').sticky({topSpacing:0, bottomSpacing:limit_bottom});
   })(jQuery);
</script>

<script type='text/javascript'>
$("#subiendo-1").click(function(e){
    $('html, body').animate({scrollTop:$('#contenido').offset().top + 15}, 'slow');
});
$("#subiendo-2").click(function(e){
    $('html, body').animate({scrollTop:$('#contenido').offset().top + 15}, 'slow');
});
$("#subiendo-3").click(function(e){
    $('html, body').animate({scrollTop:$('#contenido').offset().top + 15}, 'slow');
});
$("#subiendo-4").click(function(e){
    $('html, body').animate({scrollTop:$('#contenido').offset().top + 15}, 'slow');
});
$("#subiendo-5").click(function(e){
    $('html, body').animate({scrollTop:$('#contenido').offset().top + 15}, 'slow');
});
$("#subiendo-5").click(function(e){
    $('html, body').animate({scrollTop:$('#contenido').offset().top + 15}, 'slow');
});
</script>
</footer>