<footer> 
  <div class='pag'>
    <div class='fila'>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      
      <div class='logo-pyxis footer centrado'>
        <a class='en-linea' href='{{ site.baseurl }}/'>
      <img src='{{ site.baseurl }}/img/pyxis-logo-sm.png'><h6 class='gruesa rojo centrado sans'>Pyxis <span class='gris-oscuro sans fino'>framework</span></h6>
        </a>
      </div>
      <nav class='nav-footer bloque centrado ancho-completo'>
        <li><a class='xs negrita altas sans' href='{{ site.baseurl }}/pags/tipografia'>Tipografía</a></li>
        <li><a class='xs negrita altas sans' href='{{ site.baseurl }}/pags/grilla'>Grilla</a></li>
        <li><a class='xs negrita altas sans' href='{{ site.baseurl }}/pags/interaccion'>Interacción</a></li>
        <li><a class='xs negrita altas sans' href='{{ site.baseurl }}/pags/color'>Color</a></li>
        <li><a class='xs negrita altas sans' href='{{ site.baseurl }}/pags/iconografia'>Íconografía</a></li>
        <li><a class='xs negrita altas sans' href='{{ site.baseurl }}/pags/versatilidad'>Versatilidad</a></li>
        <li><a class='xs negrita altas sans' href='{{ site.baseurl }}/pags/javascript'>Javascript</a></li>
      </nav>
    </div>
  </div>
  <div class='fila'>
    <div class='col-md-12'>
      <p class='xs sin-margen centrado negro sans'><span class='sans' xmlns:dct='http://purl.org/dc/terms/' href='http://purl.org/dc/dcmitype/InteractiveResource' property='dct:title' rel='dct:type'>e[ad] Pyxis</span> por <span class='sans' xmlns:cc='http://creativecommons.org/ns#' property='cc:attributionName'>Taller de Investigaciones Gráficas .:TIG:.</span> se encuentra bajo una <a class='sans xs' rel='license' href='http://creativecommons.org/licenses/by/3.0/deed.es_CL'>Licencia Creative Commons Atribución 3.0 Unported</a>
      <a class='xs' rel='license' href='http://creativecommons.org/licenses/by/3.0/deed.es_CL'><img alt='Licencia Creative Commons' style='border-width:0' class='por-defecto' src='{{ site.baseurl }}/img/cc.png' /></a></p>
            </div>
          </div>
  </div>
    <script src="{{ site.baseurl }}/js/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/collapse.js"></script>
    <script src="{{ site.baseurl }}/js/carousel.js"></script>
    <script src="{{ site.baseurl }}/js/transition.js"></script>
    <script src="{{ site.baseurl }}/js/modal.js"></script>
    <script src="{{ site.baseurl }}/js/tooltip.js"></script> 
    <script src="{{ site.baseurl }}/js/popover.js"></script>
    <script src="{{ site.baseurl }}/js/affix.js"></script>
    <script src="{{ site.baseurl }}/js/dropdown.js"></script>  
    <script src="{{ site.baseurl }}/js/nav.js"></script>  
    <script src="{{ site.baseurl }}/js/smooth-scroll.js"></script>
    <script src="{{ site.baseurl }}/js/tab.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.sticky.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.parallax-1.1.3.js"></script>  
    <script src="{{ site.baseurl }}/js/jquery.localScroll.js"></script>
    <script src="{{ site.baseurl }}/js/justify-content/justify-content.js"></script>


<!-- inicio de scripts -->
<script>     
    $( "#link_ejemplo_affix" ).click(function() {
    $( "#navbar" ).toggle();
    });
</script>
<script> 
  $('.tooltip-demo').tooltip({selector: "a[data-toggle=tooltip]"});
</script>
<script>
$('#tabla-contenido a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
<script> 
    $('#popover-test').popover();
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('body').localScroll(800);
    
    //.parallax(xPosition, speedFactor, outerHeight) options:
    //xPosition - Horizontal position of the element
    //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
    //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
    $('#parallax, .ejemplo1, .ejemplo2, .ejemplo3, .universo').parallax("50%", 0.1, true);
  })
</script>
  <!-- Smooth Scoolling -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('a[href*=#]').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
        && location.hostname == this.hostname) {
          var $target = $(this.hash);
          $target = $target.length && $target
          || $('[name=' + this.hash.slice(1) +']');
          if ($target.length) {
            var targetOffset = $target.offset().top;
            $('html,body')
            .animate({scrollTop: targetOffset}, 750);
           return false;
          }
        }
      });
    });
</script><!-- fin de Smooth Scoolling -->
  <!-- Menu Sticky -->
    <script type='text/javascript'>
      $(document).ready(function(){
      $("#sub-componentes").sticky({topSpacing: 0});
      $("#ejemplo-sticky").sticky({topSpacing: 60});
      $("#ejemplo-sticky-2").sticky({topSpacing: 90});
      $("#ejemplo-sticky-3").sticky({topSpacing: 120});
      $("#ejemplo-sticky-4").sticky({topSpacing: 150});
      $("#ejemplo-sticky-5").sticky({topSpacing: 180});
      $("#ead-sticky").sticky({topSpacing: 40});
      $("#meta-barra").sticky({topSpacing: 0});
      $("#nav-page").sticky({topSpacing:30});
      });
    </script>
    <!-- fin menú sticky -->
    <script type='text/javascript'>
    jQuery(document).ready(function($) {
    $('a[href=#topbar]').click(function(){
        $('html, body').animate({scrollTop:0}, 'slow');
        return false;
    });
}); 
    </script>

<script type='text/javascript'>
$("#subiendo-1").click(function(e){
    $('html, body').animate({scrollTop:$('#contenido').offset().top + 15}, 'slow');
});
$("#subiendo-2").click(function(e){
    $('html, body').animate({scrollTop:$('#contenido').offset().top + 15}, 'slow');
});
$("#subiendo-3").click(function(e){
    $('html, body').animate({scrollTop:$('#contenido').offset().top + 15}, 'slow');
});
$("#subiendo-4").click(function(e){
    $('html, body').animate({scrollTop:$('#contenido').offset().top + 15}, 'slow');
});
$("#subiendo-5").click(function(e){
    $('html, body').animate({scrollTop:$('#contenido').offset().top + 15}, 'slow');
});
$("#subiendo-5").click(function(e){
    $('html, body').animate({scrollTop:$('#contenido').offset().top + 15}, 'slow');
});
</script>

</footer>