<footer> 
  <div class='pag'>
    <div class='fila'>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <h4 class='centrado rojo-claro'>Pyxis <span class='gris-claro'>Framework</span></h4>
      <ul>
        <li>Ver en <a href='https://github.com/eadpucv/pyxis'>Github</a></li>
        <li>Ver <a href='http://wiki.ead.pucv.cl/index.php/Pyxis_framework_y_Gamma:_El_dise%C3%B1o_y_la_gr%C3%A1fica_como_un_ecosistema_digital'>Documentación</a></li>
      </ul>
    </div>
  </div>
  <div class='fila'>
    <div class='col-md-12'>
      <p class='gris'><span xmlns:dct='http://purl.org/dc/terms/' href='http://purl.org/dc/dcmitype/InteractiveResource' property='dct:title' rel='dct:type'>e[ad] Pyxis</span> por <span xmlns:cc='http://creativecommons.org/ns#' property='cc:attributionName'>Taller de Investigaciones Gráficas .:TIG:.</span> se encuentra bajo una <a rel='license' href='http://creativecommons.org/licenses/by/3.0/deed.es_CL'>Licencia Creative Commons Atribución 3.0 Unported</a>
      <a class='derecha' rel='license' href='http://creativecommons.org/licenses/by/3.0/deed.es_CL'><img alt='Licencia Creative Commons' style='border-width:0' src='http://i.creativecommons.org/l/by/3.0/80x15.png' /></a> </p>
            </div>
          </div>
  </div>
    <script src="{{ site.baseurl }}/js/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/collapse.js"></script>
    <script src="{{ site.baseurl }}/js/carousel.js"></script>
    <script src="{{ site.baseurl }}/js/transition.js"></script>
    <script src="{{ site.baseurl }}/js/modal.js"></script>
    <script src="{{ site.baseurl }}/js/tooltip.js"></script> 
    <script src="{{ site.baseurl }}/js/popover.js"></script>
    <script src="{{ site.baseurl }}/js/affix.js"></script>
    <script src="{{ site.baseurl }}/js/dropdown.js"></script>  
    <script src="{{ site.baseurl }}/js/nav.js"></script>  
    <script src="{{ site.baseurl }}/js/smooth-scroll.js"></script>
    <script src="{{ site.baseurl }}/js/tab.js"></script>
    <!--<script src="{{ site.baseurl }}/js/jquery.localScroll.js"></script>-->
    <script src="{{ site.baseurl }}/js/jquery.parallax-1.1.3.js"></script>  

<!-- inicio de scripts -->
<script>     
    $( "#link_ejemplo_affix" ).click(function() {
    $( "#navbar" ).toggle();
    });
</script>
<script> 
  $('.tooltip-demo').tooltip({selector: "a[data-toggle=tooltip]"});
</script>
<script>
$('#tabla-contenido a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
<script> 
    $('#popover-test').popover();
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#nav').localScroll(800);
    
    //.parallax(xPosition, speedFactor, outerHeight) options:
    //xPosition - Horizontal position of the element
    //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
    //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
    $('#parallax, .ejemplo1, .ejemplo2, .ejemplo3').parallax("50%", 0.1, true);
  })
</script>
  <!-- Smooth Scoolling -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('a[href*=#]').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
        && location.hostname == this.hostname) {
          var $target = $(this.hash);
          $target = $target.length && $target
          || $('[name=' + this.hash.slice(1) +']');
          if ($target.length) {
            var targetOffset = $target.offset().top;
            $('html,body')
            .animate({scrollTop: targetOffset}, 750);
           return false;
          }
        }
      });
    });
</script><!-- fin de Smooth Scoolling -->
</footer>