<head>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Pyxis - Grilla</title>
  <link href='{{ site.baseurl }}/css/pyxis.css' rel='stylesheet'>
  <link rel='icon' type='image/x-icon' href='img/favicon.ico' />
  <link rel='apple-touch-icon-precomposed' sizes='114x114' href='{{ site.baseurl }}/img/favicon-114.png'>
  <link rel='apple-touch-icon-precomposed' sizes='72x72' href='{{ site.baseurl }}/img/favicon-72.png'>
  <link rel='apple-touch-icon-precomposed' href='{{ site.baseurl }}/img/favicon-57.png'>
</head>