<!-- Metabarra -->
<div class="oculto-xs fondo-negro">
  <div id='meta-barra'>
    <div class='pag sin-relleno'>
      <ul class='sin-relleno'>
          <li class='en-linea margen-sup-xs'><a class='xs rojo sans relleno-der' href='#'>e[ad]</a></li>
          <li class='en-linea'><a class='xs blanco sans relleno-der' href='#'><i class='icn icn-casiopea margen-der-xs'></i>Wiki Casiopea</a></li>
          <li class='en-linea'><a class='xs blanco sans relleno-der' href='#'><i class='icn icn-estorninos margen-der-xs'></i>Estorninos</a></li>
          <li class='en-linea'><a class='xs blanco sans relleno-der' href='#'><i class='icn icn-travesia margen-der-xs'></i>Travesías</a></li>
         	<li class='en-linea'><a class='xs blanco sans relleno-der' href='#'><i class='icn icn-archivo margen-der-xs'></i>AHJVA</a></li>
          <li class='en-linea'><a href="#topbar"><i class="icn icn-light icn-caronarriba blanco"></i></a></li>
          <div class='en-linea derecha grupo-inputs metabarra'>
            <span class='input sin-margen'><i class='icn icn-lupa'></i></span>
            <input type="search" class="form-control sin-margen buscar" id="nombre" placeholder="Buscar" required="">
          </div>
      </ul>
    </div>
<div id='boton-editar' class='margen-sup-xs al-frente margen-der-xs absoluto abs-der triangulo derecha tooltip-demo'>
  <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea relleno-sup-xs sin-margen' href='#'>
    <i class='icn icn-lapiz'></i>
  </a>
</div>
  </div>
</div>