<!-- Metabarra -->
<div class="oculto-xs">
  <div id='meta-barra'>
    <div class='pag sin-relleno'>
      <ul class='sin-relleno'>
          <li class='en-linea'><a class='xs rojo sans relleno-der' href='#'>e[ad]</a></li>
          <li class='en-linea'><a class='xs blanco sans relleno-der' href='#'><i class='icn icn-casiopea margen-der-xs'></i>Wiki Casiopea</a></li>
          <li class='en-linea'><a class='xs blanco sans relleno-der' href='#'><i class='icn icn-estorninos margen-der-xs'></i>Estorninos</a></li>
          <li class='en-linea'><a class='xs blanco sans relleno-der' href='#'><i class='icn icn-travesia margen-der-xs'></i>Travesías</a></li>
         	<li class='en-linea'><a class='xs blanco sans relleno-der' href='#'><i class='icn icn-archivo margen-der-xs'></i>AHJVA</a></li>
          <li class='en-linea'><a href="#topbar"><i class="icn icn-light icn-caronarriba blanco"></i></a></li>
      </ul>
    </div>
  </div>
</div>