<!-- barra de menú -->
<div class='col-lg-24 col-md-24 col-sm-24 oculto-xs'>
<div class='menu-pyxis'>
<nav>
<ul class='centrado blanco'>
    <li><a href='{{ site.baseurl }}/'><span class="icn icn-parrafo icn-sm"></span></a></li>
    <li><a href='{{ site.baseurl }}/pags/tipografia'>Tipografía</a></li>
    <li><a href='{{ site.baseurl }}/pags/grilla'>Grilla</a></li>
    <li><a href='{{ site.baseurl }}/pags/interaccion'>Interacción</a></li>
    <li><a href='{{ site.baseurl }}/pags/color'>Color</a></li>
    <li><a href='{{ site.baseurl }}/pags/iconografia'>Íconografía</a></li>
    <li><a href='{{ site.baseurl }}/pags/versatilidad'>Versatilidad</a></li>
    <li><a href='{{ site.baseurl }}/pags/layout'>Layout</a></li>
    <li><a href='{{ site.baseurl }}/pags/javascript'>Javascript</a></li>      
</ul>
</nav>          
</div>
</div>

<!-- barra de menú móvil-->
<div class='oculto-lg oculto-md oculto-sm col-xs-24'>
<div class='menu-pyxis-movil'> 

   <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class='pag-movil blanco'>
          <h4 class="panel-title">
            <button class='btn-alerta margen-superior-s' data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Menú
            </button>
          </h4>
        </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body fondo-gris-oscuro">
          <ul class='menu altas gruesa'>
            <div class='pag-movil blanco'>
            <a href='tipografia.html'><li>tipografía</li></a>
            <a href='grilla.html'><li>Grilla</li></a>
            <a href='interaccion.html'><li>Interacción</li></a>
            <a href='color.html'><li>Color</li></a>
            <a href='iconografia.html'><li>Íconografía</li></a>
            <a href='versatilidad.html'><li>Versatilidad</li></a>
            <a href='layout.html'><li>Layout</li></a>
            <a href='javascript.html'><li>Javascript</li></a>
            </div>
            </ul>
        </div>
      </div>
    </div>
  </div>         
</div>
</div>
</div>
<!-- fin barra de menú -->
  


