<!-- barra de menú -->
<div class='fondo-header-pyxis oculto-xs'>
   <div class='pag sin-relleno menu'>
        <nav class='menu-pyxis'>
          <a href='{{ site.baseurl }}/'>
            <div class='logo-pyxis'>
              <img src='{{ site.baseurl }}/img/pyxis-brujula-06.png'><h6 class='gruesa sans rojo no-responsivo'>Pyxis<span class='fino gris-oscuro sans'>framework</span></h6>
            </div>
          </a>
            <ul class='nav-rotulos gruesa condensado'>
              <li><a href='{{ site.baseurl }}/pags/tipografia'>Tipografía</a></li>
              <li><a href='{{ site.baseurl }}/pags/grilla'>Grilla</a></li>
              <li><a href='{{ site.baseurl }}/pags/interaccion'>Interacción</a></li>
              <li><a href='{{ site.baseurl }}/pags/color'>Color</a></li>
              <li><a href='{{ site.baseurl }}/pags/iconografia'>Íconografía</a></li>
              <li><a href='{{ site.baseurl }}/pags/versatilidad'>Versatilidad</a></li>
              <li><a href='{{ site.baseurl }}/pags/javascript'>Javascript</a></li>
            </ul>
        </nav>     
        </div> 
</div> 
   <div class="fondo-header-pyxis oculto-lg oculto-sm oculto-md">
      <!--Begin Pattern HTML-->
      <div class='pag menu-movil'>
        <div class='logo-pyxis'>
          <a href='{{ site.baseurl }}/'>
              <img src='{{ site.baseurl }}/img/pyxis-brujula-06.png'><h6 class='gruesa sans rojo sin-margen relleno-izq-xs no-responsivo'>Pyxis<span class='fino gris-oscuro sans relleno-izq-xs'>framework</span></h6>
           </a>
        </div>

      <a href="#menu" class="menu-link derecha"><i class="icn icn-menu"></i> </a>
      <nav id="menu" class='lista-sin-estilo' role="navigation">
              <li class='margen-sup'><a class='sans' href='{{ site.baseurl }}/pags/tipografia'>Tipografía</a></li>
              <li><a class='sans' href='{{ site.baseurl }}/pags/grilla'>Grilla</a></li>
              <li><a class='sans' href='{{ site.baseurl }}/pags/interaccion'>Interacción</a></li>
              <li><a class='sans' href='{{ site.baseurl }}/pags/color'>Color</a></li>
              <li><a class='sans' href='{{ site.baseurl }}/pags/iconografia'>Íconografía</a></li>
              <li><a class='sans' href='{{ site.baseurl }}/pags/versatilidad'>Versatilidad</a></li>
              <li><a class='sans' href='{{ site.baseurl }}/pags/javascript'>Javascript</a></li>
      </nav>
    </div>
  </div>