<!-- Aside -->
<aside id='sidebar'>
  <div class='col-md-3 col-sm-4 col-xs-12'>
    <h6 class='xs seccion margen-izq'>Enlaces</h6>
    <ol class='xs relleno-izq-md'>
      <li><a href='http://127.0.0.1:4000/maquetas/page/#uno'>Estudiar en diseño gráfico</a></li>
      <li><a href='http://127.0.0.1:4000/maquetas/page/#dos'>Programa de estudios</a></li>
      <li><a href='http://127.0.0.1:4000/maquetas/page/#tres'>Malla curricular</a></li>
      <li><a href='http://127.0.0.1:4000/maquetas/page/#cuatro'>Admisión</a></li>
      <li><a href='http://127.0.0.1:4000/maquetas/page/#cinco'>Concepción del diseñador</a></li>
      <li><a href='http://127.0.0.1:4000/maquetas/page/#seis'>Perfil de egreso</a></li>
      <li><a href='http://127.0.0.1:4000/maquetas/page/#siete'>Competencias fundamentales</a></li>
      <li><a href='http://127.0.0.1:4000/maquetas/page/#ocho'>Objetivos edcacionales</a></li>
      <li><a href='http://127.0.0.1:4000/maquetas/page/#nueve'>Profeosres de carrera</a></li>
      <li><a href='http://127.0.0.1:4000/maquetas/page/#diez'>Profesores ayudantes</a></li>
    </ol>
    <h6 class='xs seccion margen-izq margen-sup'>Categorías</h6>
    <ul class='xs'>
      <li><a href='#'>Actualidad</a></li>
      <li><a href='#'>Estudiantes</a></li>
      <li><a href='#'>Carreras</a></li>
      <li><a href='#'>Arquitectura</a></li>
      <li><a href='#'>Diseño Gráfico</a></li>
      <li><a href='#'>Diseño industrial</a></li>
      <li><a href='#'>Estudios avanzados</a></li>
      <li><a href='#'>Concursos</a></li>
      <li><a href='#'>Observación de la semana</a></li>
      <li><a href='#'>Bolsa de trabajo</a></li>
      <li><a href='#'>Investigación</a></li>
    </ul>
    <h6 class='xs seccion margen-izq margen-sup'>Carreras</h6>
    <ul class='xs'>
      <li><a href='#'>Arquitectura</a></li>
      <li><a href='#'>Diseño Gráfico</a></li>
      <li><a href='#'>Diseño industrial</a></li>
    </ul>
    <h6 class='xs seccion margen-izq margen-sup'>Estudios avanzados</h6>
    <ul class='xs'>
      <li><a href='#'>Magister Náutico y Marítimo</a></li>
      <li><a href='#'>Magister Ciudad y territorio</a></li>
    </ul>
    <h6 class='xs interletraje-xs negro condensado gruesa margen-sup margen-izq altas'>Twitter</h6>
    <ul class='xs'>
  <li class='sin-estilo sin-relleno'><a class="twitter-timeline" href="https://twitter.com/eadpucv" data-widget-id="556872650858201090">Tweets por el @eadpucv.</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
    </ul>
  </div>
</aside>