<div class='col-md-9 col-sm-9 col-xs-12'>
	<p class='sm'>Este lunes 6 de octubre se realizará una charla de Movilidad Estudiantil para todos aquellos alumnos que estén considerando la posibilidad de un intercambio. Visitará la Escuela Silvia Montiel, coordinadora de Alumnos PUCV al extranjero, de la Dirección de Programas Internacionales. A las 12:00 en la Sala Exposición.</p>
	<ul class='sm'>
    <li class='sin-estilo'><a href='#'>Se inicia convocatoria para alumnos PUCV que deseen realizar estudios de intercambio durante el segundo semestre de 2015.</a></li>
	</ul>
</div>