	<!-- Primera seccion -->
	<div id='parallax-historia' class='foto-1 relativo oculto-xs'>
		<h1 class='lg entry-title'>Fundación</h1>
	<h4 class='xs subtitulo'>Escuela de arquitectura y diseño, 1952</h4>
</div>
<div class='fondo-blanco'>
	<div class='pag'>
		<!-- móviles -->
		<h1 class='lg title oculto-lg oculto-md oculto-sm'>Fundación</h1>
		<h6 class='lg oculto-lg oculto-md oculto-sm'>Escuela de arquitectura y diseño, 1952</h6>
		<!-- móviles -->
		<p class='sm'>En 1952, un grupo de arquitectos y artistas -Alberto Cruz, Godofredo Iommi, Fabio Cruz P, Miguel Eyquem, José Vial, Arturo Baeza, Francisco Méndez, Jaime Bellalta y Claudio Girola, quien llegó al poco tiempo- se incorporan a la Escuela de Arquitectura de la Universidad Católica de Valparaíso, fundando, simultáneamente, el Instituto de Arquitectura que sirve y alimenta a la Escuela.</p>
		<p class='sm'>Dicho grupo formula un planteamiento original acerca de la concepción de la poesía, el arte y oficio de la arquitectura. Tal planteamiento orienta y configura los estudios y la pedagogía de la Escuela.</p>
		<p class='sm'>En 1964 se formula una visión poética de América: “Amereida”, que dice de su origen y destino. Siguiendo tal visión, profesores de la Escuela organizan una Travesía por el interior del Continente, uniendo Tierra del Fuego con Santa Cruz de la Sierra. Participan también en ella artistas e intelectuales europeos.</p>
		<p class='sm'>En 1967 se produce la “Reforma Universitaria”. Este movimiento comenzó en nuestra Escuela, desde donde se expandió a todas las universidades de Chile. Dicho movimiento tuvo un origen poético y por ello en la Escuela lo llamamos la “Reoriginación Universitaria”, y es el origen de la Ciudad Abierta. En 1970 los profesores de la Escuela adquieren los terrenos en el litoral al norte del Rio Aconcagua y fundan allí la Ciudad Abierta.</p>
		<p class='sm'>En la década de los ’70 se fundan las carreras de Diseño Gráfico y Diseño de Objetos (Industrial), con la orientación y fundamento poético iniciado por la arquitectura, tal abertura favorece la complementación y complejización de los tres oficios.</p>
		<p class='sm'>La finalidad es dar cabida y favorecer el florecimiento de los oficios a través de aunar la vida, el trabajo, y el estudio. La Ciudad Abierta a su vez se constituye en fuente de iluminación del quehacer académico de la Escuela.</p>
		<p class='sm'>En 1984 la Escuela incluye en su Plan de Estudios la realización anual de Travesías por América. Ellas se organizan por Talleres en las que participan todos los alumnos y profesores.</p>
		<p class='sm'>Ellas han llegado desde el Canal Beagle a la Isla de Pascua, el Amazonas, el Ecuador, las Pampas, la Selva. En las Travesías se llevan a cabo Actos y proclamaciones, culminan en leves obras de arquitectura y diseño que se donan a la gente del lugar.</p>
	</div>
</div>
<div id='parallax-historia' class='foto-2 oculto-xs'>
	<div class='pag'>
	<span class='wp-caption-text sin-borde  derecha oculto-sm'>"Partida mañana a las siete antemeridiano desde santiago
	escalas del avión santiago puerto montt punta arenas
	los nueve están – jonathan boulting alberto cruz fabio
	cruz michel degury francois fédier claudio girola godofredo
	iommi jorge pérez román edison simons – henri tronquoy
	nos alcanzará en medio de la patagonia"</span>
	<span class='sm wp-caption-text sin-borde referencia'>— Primera travesía 1965.</span>
	</div>
</div>
<div id='parallax-historia' class='foto-3 oculto-xs'>
	<div class='pag'>
	<span class='wp-caption-text sin-borde oculto-sm'>—"Mas ¿qué nos dice “mundo”? Latamente el mero juego de aparición y desaparición. Sólo en la latitud de tal juego el mundo se hace a sí mismo mundo; aparece como tal, dígase estante o cambiante. Aparece –desaparece– soñando, imaginando, recordando, olvidando, viendo, tocando, etc., etc. Ese juego de aparecer y desaparecer, ineludible, tiene como fondo el desaparecimiento mismo."</span>
	<span class='sm wp-caption-text sin-borde referencia derecha'>— Segunda carta sobre la Phalène.</span>
	</div>
</div>