<div class='fila'>
  <!-- 1 de 3 Columnas de noticias a lo largo -->
  <div class='col-md-4 col-sm-4 col-xs-12 margen-inf-sm alto-sm auto'>
    <!-- Div que oculta el desborde de la imagen -->
    <div class='borde ocultar-desborde alto-sm auto radio-md'>
      <!-- Título, fecha de publicación, reseña de noticia -->
      <div class='relleno-sup-xs tooltip-demo'>
        <h4 class='xs sin-margen'><a href='#'><i class='icn icn-anuncio'></i>Profesor participará en seminario “Concepción, de la frontera a la globa5ización”</a></h4>
        <span class='xs entry-details'>Publicado el 03 de noviembre, 2014.
          <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea sin-margen' href='#'>
             <span class="icn-stack">
              <span class="icn icn-cuadrolleno icn-stack-2x"></span>
              <span class="icn icn-lapiz icn-sm icn-stack-1x"></span>
            </span>
          </a>
        </span>
        <p class='xs'>En un encuentro entre arquitectura, matemática y poesía se llevó a cabo la presentación de los libros de Isabel Margarita Reyes y Miguel Eyquem <a href='#'>[<i class='icn icn-lentes'></i>]</a></p>
      </div>
    </div>
  </div>
  <!-- 1 de 3 Columnas de noticias a lo largo -->
  <div class='col-md-4 col-sm-4 col-xs-12 margen-inf-sm alto-sm auto'>
    <!-- Div que oculta el desborde de la imagen -->
    <div class='borde ocultar-desborde alto-sm auto radio-md'>
        <!-- Título, fecha de publicación, reseña de noticia -->
        <div class='relleno-sup-xs tooltip-demo'>
        <h4 class='xs sin-margen'><a href='#'><i class='icn icn-anuncio'></i>La naturaleza y su acción muestra la singularidad favorable</a></h4>
        <span class='xs entry-details'>Publicado el 03 de noviembre, 2014.
          <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea sin-margen' href='#'>
           <span class="icn-stack">
            <span class="icn icn-cuadrolleno icn-stack-2x"></span>
            <span class="icn icn-lapiz icn-sm icn-stack-1x"></span>
          </span>
          </a>
        </span>
        <p class='xs'>En un encuentro entre arquitectura, matemática y poesía se llevó a cabo la presentación de los libros de Isabel Margarita Reyes y Miguel Eyquem <a href='#'>[<i class='icn icn-lentes'></i>]</a></p>
      </div>
    </div>
  </div>
  <!-- 1 de 3 Columnas de noticias a lo largo -->
  <div class='col-md-4 col-sm-4 col-xs-12 alto-sm auto'>
    <!-- Div que oculta el desborde de la imagen -->
    <div class='borde ocultar-desborde alto-sm auto radio-md'>
      <!-- Título, fecha de publicación, reseña de noticia -->
      <div class='relleno-sup-xs tooltip-demo'>
        <h4 class='xs sin-margen'><a href='#'><i class='icn icn-anuncio'></i>Proyectos de Diseño Gráfico participan en feria de fondos concursables DAE</a></h4>
        <span class='xs entry-details'>Publicado el 03 de noviembre, 2014.
          <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea sin-margen' href='#'>
             <span class="icn-stack">
              <span class="icn icn-cuadrolleno icn-stack-2x"></span>
              <span class="icn icn-lapiz icn-sm icn-stack-1x"></span>
            </span>
          </a>
        </span>
        <p class='xs'>En un encuentro entre arquitectura, matemática y poesía se llevó a cabo la presentación de los libros de Isabel Margarita Reyes y Miguel Eyquem <a href='#'>[<i class='icn icn-lentes'></i>]</a></p>
      </div>
    </div>
  </div> <!-- fin de col menor -->
</div> <!-- fin de fila -->

<div class='fila'>
    <!-- 1 de 3 Columnas de noticias a lo largo -->
    <div class='col-md-4 col-sm-4 col-xs-12 margen-inf-sm alto-sm auto'>
      <!-- Div que oculta el desborde de la imagen -->
      <div class='borde ocultar-desborde alto-sm auto radio-md'>
        <!-- Título, fecha de publicación, reseña de noticia -->
        <div class='relleno-sup-xs tooltip-demo'>
          <h4 class='xs sin-margen'><a href='#'><i class='icn icn-anuncio'></i>Profesor participará en seminario “Concepción, de la frontera a la globa5ización”</a></h4>
          <span class='xs entry-details'>Publicado el 03 de noviembre, 2014.
            <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea sin-margen' href='#'>
               <span class="icn-stack">
                <span class="icn icn-cuadrolleno icn-stack-2x"></span>
                <span class="icn icn-lapiz icn-sm icn-stack-1x"></span>
              </span>
            </a>
          </span>
          <p class='xs'>En un encuentro entre arquitectura, matemática y poesía se llevó a cabo la presentación de los libros de Isabel Margarita Reyes y Miguel Eyquem <a href='#'>[<i class='icn icn-lentes'></i>]</a></p>
        </div>
      </div>
    </div>
    <!-- 1 de 3 Columnas de noticias a lo largo -->
    <div class='col-md-4 col-sm-4 col-xs-12 alto-sm auto'>
      <!-- Div que oculta el desborde de la imagen -->
      <div class='borde ocultar-desborde alto-sm auto radio-md'>
          <!-- Título, fecha de publicación, reseña de noticia -->
          <div class='relleno-sup-xs tooltip-demo'>
          <h4 class='xs sin-margen'><a href='#'><i class='icn icn-anuncio'></i>La naturaleza y su acción muestra la singularidad favorable</a></h4>
          <span class='xs entry-details'>Publicado el 03 de noviembre, 2014.
            <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea sin-margen' href='#'>
             <span class="icn-stack">
              <span class="icn icn-cuadrolleno icn-stack-2x"></span>
              <span class="icn icn-lapiz icn-sm icn-stack-1x"></span>
            </span>
            </a>
          </span>
          <p class='xs'>En un encuentro entre arquitectura, matemática y poesía se llevó a cabo la presentación de los libros de Isabel Margarita Reyes y Miguel Eyquem <a href='#'>[<i class='icn icn-lentes'></i>]</a></p>
        </div>
      </div>
    </div>
    <!-- 1 de 3 Columnas de noticias a lo largo -->
    <div class='col-md-4 col-sm-4 col-xs-12 alto-sm auto'>
    <!-- Div que oculta el desborde de la imagen -->
    <div class='borde ocultar-desborde alto-sm auto radio-md'>
      <!-- Título, fecha de publicación, reseña de noticia -->
      <div class='relleno-sup-xs tooltip-demo'>
        <h4 class='xs sin-margen'><a href='#'><i class='icn icn-anuncio'></i>Proyectos de Diseño Gráfico participan en feria de fondos concursables DAE</a></h4>
        <span class='xs entry-details'>Publicado el 03 de noviembre, 2014.
          <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea sin-margen' href='#'>
             <span class="icn-stack">
              <span class="icn icn-cuadrolleno icn-stack-2x"></span>
              <span class="icn icn-lapiz icn-sm icn-stack-1x"></span>
            </span>
          </a>
        </span>
        <p class='xs'>En un encuentro entre arquitectura, matemática y poesía se llevó a cabo la presentación de los libros de Isabel Margarita Reyes y Miguel Eyquem <a href='#'>[<i class='icn icn-lentes'></i>]</a></p>
      </div>
    </div>
  </div> <!-- fin de col menor -->
</div> <!-- fin de fila -->

<!-- 1 de 3 Columnas de noticias a lo largo -->
<div class='fila'>
  <!-- 1 de 3 Columnas de noticias a lo largo -->
  <div class='col-md-4 col-sm-4 col-xs-12 margen-inf-sm alto-sm auto'>
    <!-- Div que oculta el desborde de la imagen -->
    <div class='borde ocultar-desborde alto-sm auto radio-md'>
      <!-- Título, fecha de publicación, reseña de noticia -->
      <div class='relleno-sup-xs tooltip-demo'>
        <h4 class='xs sin-margen'><a href='#'><i class='icn icn-anuncio'></i>Profesor participará en seminario “Concepción, de la frontera a la globa5ización”</a></h4>
        <span class='xs entry-details'>Publicado el 03 de noviembre, 2014.
          <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea sin-margen' href='#'>
             <span class="icn-stack">
              <span class="icn icn-cuadrolleno icn-stack-2x"></span>
              <span class="icn icn-lapiz icn-sm icn-stack-1x"></span>
            </span>
          </a>
        </span>
        <p class='xs'>En un encuentro entre arquitectura, matemática y poesía se llevó a cabo la presentación de los libros de Isabel Margarita Reyes y Miguel Eyquem <a href='#'>[<i class='icn icn-lentes'></i>]</a></p>
      </div>
    </div>
  </div>
  <!-- 1 de 3 Columnas de noticias a lo largo -->
  <div class='col-md-4 col-sm-4 col-xs-12 margen-inf-sm alto-sm auto'>
    <!-- Div que oculta el desborde de la imagen -->
    <div class='borde ocultar-desborde alto-sm auto radio-md'>
        <!-- Título, fecha de publicación, reseña de noticia -->
        <div class='relleno-sup-xs tooltip-demo'>
        <h4 class='xs sin-margen'><a href='#'><i class='icn icn-anuncio'></i>La naturaleza y su acción muestra la singularidad favorable</a></h4>
        <span class='xs entry-details'>Publicado el 03 de noviembre, 2014.
          <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea sin-margen' href='#'>
           <span class="icn-stack">
            <span class="icn icn-cuadrolleno icn-stack-2x"></span>
            <span class="icn icn-lapiz icn-sm icn-stack-1x"></span>
          </span>
          </a>
        </span>
        <p class='xs'>En un encuentro entre arquitectura, matemática y poesía se llevó a cabo la presentación de los libros de Isabel Margarita Reyes y Miguel Eyquem <a href='#'>[<i class='icn icn-lentes'></i>]</a></p>
      </div>
    </div>
  </div>
  <!-- 1 de 3 Columnas de noticias a lo largo -->
  <div class='col-md-4 col-sm-4 col-xs-12 alto-sm auto'>
    <!-- Div que oculta el desborde de la imagen -->
    <div class='borde ocultar-desborde alto-sm auto radio-md'>
      <!-- Título, fecha de publicación, reseña de noticia -->
      <div class='relleno-sup-xs tooltip-demo'>
        <h4 class='xs sin-margen'><a href='#'><i class='icn icn-anuncio'></i>Proyectos de Diseño Gráfico participan en feria de fondos concursables DAE</a></h4>
        <span class='xs entry-details'>Publicado el 03 de noviembre, 2014.
          <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea sin-margen' href='#'>
             <span class="icn-stack">
              <span class="icn icn-cuadrolleno icn-stack-2x"></span>
              <span class="icn icn-lapiz icn-sm icn-stack-1x"></span>
            </span>
          </a>
        </span>
        <p class='xs'>En un encuentro entre arquitectura, matemática y poesía se llevó a cabo la presentación de los libros de Isabel Margarita Reyes y Miguel Eyquem <a href='#'>[<i class='icn icn-lentes'></i>]</a></p>
      </div>
    </div>
  </div> <!-- fin de col menor -->
</div> <!-- fin de fila -->

  <!-- 1 de 3 Columnas de noticias a lo largo -->
<div class='fila'>
  <!-- 1 de 3 Columnas de noticias a lo largo -->
  <div class='col-md-4 col-sm-4 col-xs-12 margen-inf-sm alto-sm auto'>
    <!-- Div que oculta el desborde de la imagen -->
    <div class='borde ocultar-desborde alto-sm auto radio-md'>
      <!-- Título, fecha de publicación, reseña de noticia -->
      <div class='relleno-sup-xs tooltip-demo'>
        <h4 class='xs sin-margen'><a href='#'><i class='icn icn-anuncio'></i>Profesor participará en seminario “Concepción, de la frontera a la globa5ización”</a></h4>
        <span class='xs entry-details'>Publicado el 03 de noviembre, 2014.
          <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea sin-margen' href='#'>
             <span class="icn-stack">
              <span class="icn icn-cuadrolleno icn-stack-2x"></span>
              <span class="icn icn-lapiz icn-sm icn-stack-1x"></span>
            </span>
          </a>
        </span>
        <p class='xs'>En un encuentro entre arquitectura, matemática y poesía se llevó a cabo la presentación de los libros de Isabel Margarita Reyes y Miguel Eyquem <a href='#'>[<i class='icn icn-lentes'></i>]</a></p>
      </div>
    </div>
  </div>
  <!-- 1 de 3 Columnas de noticias a lo largo -->
  <div class='col-md-4 col-sm-4 col-xs-12 margen-inf-sm alto-sm auto'>
    <!-- Div que oculta el desborde de la imagen -->
    <div class='borde ocultar-desborde alto-sm auto radio-md'>
        <!-- Título, fecha de publicación, reseña de noticia -->
        <div class='relleno-sup-xs tooltip-demo'>
        <h4 class='xs sin-margen'><a href='#'><i class='icn icn-anuncio'></i>La naturaleza y su acción muestra la singularidad favorable</a></h4>
        <span class='xs entry-details'>Publicado el 03 de noviembre, 2014.
          <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea sin-margen' href='#'>
           <span class="icn-stack">
            <span class="icn icn-cuadrolleno icn-stack-2x"></span>
            <span class="icn icn-lapiz icn-sm icn-stack-1x"></span>
          </span>
          </a>
        </span>
        <p class='xs'>En un encuentro entre arquitectura, matemática y poesía se llevó a cabo la presentación de los libros de Isabel Margarita Reyes y Miguel Eyquem <a href='#'>[<i class='icn icn-lentes'></i>]</a></p>
      </div>
    </div>
  </div>
  <!-- 1 de 3 Columnas de noticias a lo largo -->
  <div class='col-md-4 col-sm-4 col-xs-12 alto-sm auto'>
    <!-- Div que oculta el desborde de la imagen -->
    <div class='borde ocultar-desborde alto-sm auto radio-md'>
      <!-- Título, fecha de publicación, reseña de noticia -->
      <div class='relleno-sup-xs tooltip-demo'>
        <h4 class='xs sin-margen'><a href='#'><i class='icn icn-anuncio'></i>Proyectos de Diseño Gráfico participan en feria de fondos concursables DAE</a></h4>
        <span class='xs entry-details'>Publicado el 03 de noviembre, 2014.
          <a data-toggle="tooltip" href="#" title="Editar" class='xs en-linea sin-margen' href='#'>
             <span class="icn-stack">
              <span class="icn icn-cuadrolleno icn-stack-2x"></span>
              <span class="icn icn-lapiz icn-sm icn-stack-1x"></span>
            </span>
          </a>
        </span>
        <p class='xs'>En un encuentro entre arquitectura, matemática y poesía se llevó a cabo la presentación de los libros de Isabel Margarita Reyes y Miguel Eyquem <a href='#'>[<i class='icn icn-lentes'></i>]</a></p>
      </div>
    </div>
  </div> <!-- fin de col menor -->
 </div> <!-- fin de fila -->