<div class='fondo-blanco'>
	<div class='pag'>
		<!-- móviles -->
		<h1 class='lg title oculto-lg oculto-md oculto-sm'>Visión</h1>
		<h6 class='lg oculto-lg oculto-md oculto-sm'>Escuela de arquitectura y diseño e[ad]</h6>
	<!-- móviles -->
	<p class='sm'>Desde su constitución, la e[ad] se ha consolidado como una de las escuelas referentes en Chile y el mundo, que se funda en el encuentro y co-generación de los tres oficios que imparte: Arquitectura, y los Diseños Gráfico e Industrial, en permanente relación con la poesía. Así, afirmamos que tanto la Arquitectura como el Diseño son, en su sentido más profundo, un arte.</p>
	<p class='sm'>Concebimos la Escuela como comunidad real de vida, trabajo y estudio, fundada en la libertad y la verdadera autogestión. Pensamos que el estudiar y hacer se integran día a día, exigiendo de alumnos y profesores un real compromiso de vida que se transforma con alegría en una disponibilidad que va más allá de las ordinarias tareas académicas; factor que le confiere a la escuela una gran unidad y espíritu de cuerpo. El ámbito de trabajo y estudio de la Escuela da cabida a la permanente participación creativa de todos sus integrantes.</p>
	<p class='sm'>La disciplina de la Arquitectura y el Diseño la aprehendemos a través de la observación de la realidad. Ésta es un modo de abstraer que permite penetrar la realidad de manera siempre nueva y original. La observación nace desde la contemplación, el croquis (dibujo a mano alzada) y la anotación escrita. Es a partir de este quehacer, más allá que del mero talento natural, que surgen los logros, y se desarrollan los distintos trabajos y estudios. La praxis de la observación consolida un punto de vista propio para el desarrollo de la disciplina.</p>
	<h2 class='sm'>Misión como escuela:</h2>
	<p class='sm'>“Cultivar el arte de la Arquitectura y del Diseño, armónicamente con los principios de la Pontificia Universidad Católica de Valparaíso. Cultivar el arte de la Arquitectura y el Diseño es develar lo invisible e inadvertido del habitar humano experimentando, investigando y reflexionando desde y sobre nuestros contextos poéticos del habitar. Y por medio de la creación y transmisión del conocimiento del oficio de dichas artes formar profesionales de Arquitectura y Diseño en base a competencias valóricas, disciplinares y profesionales que le permitan desempeñarse con mirada sensible, ubicua y crítica, con capacidad creativa, analítica, y de intervención social y con actitud propositiva, proyectiva y constructora. Profesionales con vocación de concebir obras que den cabida y expresión al habitar humano. Por lo tanto, dispuestos a transformarse en actores que trabajen por una sociedad más humanista.”</p>
	<h2 class='sm'>Objetivos:</h2>
	<p class='sm'>“Construir un polo único y notable que se transforme en referente de una imagen académica a nivel americano de la comunidad Amereida, que se identifique con un modelo de integración de los ámbitos académicos, artísticos y profesionales, para que los principios fundamentales de vocación de servicio a la sociedad, sean representados en el más pleno de sus propósitos en donde la experimentación traspase los límites formales y sea una real exposición palpable de la condición poética del hombre”.</p>
</div>
</div>
<div id='lolo' class='foto-8'>
	<div class='pag oculto-sm oculto-xs'>
	<span class='wp-caption-text sin-borde derecha oculto-sm'>—"Partida mañana a las siete antemeridiano desde santiago
	escalas del avión santiago puerto montt punta arenas
	los nueve están – jonathan boulting alberto cruz fabio
	cruz michel degury francois fédier claudio girola godofredo
	iommi jorge pérez román edison simons – henri tronquoy
	nos alcanzará en medio de la patagonia"	<span class='sm wp-caption-text sin-borde referencia oculto-sm'>— Primera travesía 1965.</span></span>
	</div>
</div>
<div id='lolo' class='foto-9 oculto-xs'>
	<div class='pag oculto-sm oculto-xs'>
	<span class='wp-caption-text sin-borde'>—"Mas ¿qué nos dice “mundo”? Latamente el mero juego de aparición y desaparición. Sólo en la latitud de tal juego el mundo se hace a sí mismo mundo; aparece como tal, dígase estante o cambiante. Aparece –desaparece– soñando, imaginando, recordando, olvidando, viendo, tocando, etc., etc. Ese juego de aparecer y desaparecer, ineludible, tiene como fondo el desaparecimiento mismo."
	<span class='sm wp-caption-text sin-borde referencia'>— Primera travesía 1965.</span></span>
	</div>
</div>