<!-- Cuarta seccion -->
<div id='lolo' class='foto-10 relativo oculto-xs'>
	<h1 class='lg entry-title'>Oficio</h1>
	<h4 class='xs subtitulo'>Trabajo y obra</h4>
</div>
<div class='fondo-blanco'>
	<div class='pag'>
		<!-- móviles -->
		<h1 class='lg title oculto-lg oculto-md oculto-sm'>Oficio</h1>
		<h6 class='lg oculto-lg oculto-md oculto-sm'>Trabajo y obra</h6>
		<!-- móviles -->
		<p class='sm'>La misión de la Escuela de Arquitectura y Diseño es cultivar, el arte de la Arquitectura, del Diseño Gráfico y del Diseño Industrial por medio de la creación y transmisión del conocimiento del oficio de estas artes, formar Arquitectos y Diseñadores con la vocación de concebir obras que den cabida y expresión al habitar humano.
		La Escuela afirma que tanto la Arquitectura como el Diseño son un Arte. Esto diferencia profundamente de otras orientaciones, disciplinas y saberes, e implica una manera peculiar de estudiar y de hacer.</p>
		<h3 class='sm'>La observación como fundamento</h3>
		<p class='sm'>En nuestra Escuela se accede a la Arquitectura y al Diseño a través de la observación. La observación es una actividad profundamente artística que permite penetrar la realidad de manera siempre nueva y original. A partir de esta postura de pensamiento tomada como fundamento se desarrollan los diferentes trabajos, estudios y proyectos.</p>
		<h3 class='sm'>Compromiso de vida y ámbito</h3>
		<p class='sm'>Esta modalidad de estudiar y hacer exige de alumnos y profesores un real compromiso de vida. Este que le confiere a la Escuela una gran unidad y, a su vez establece un ámbito, y un ritmo de estudio que da cabida a actividades ordinarias y extraordinarias, en que participan creativamente todos los alumnos y profesores.</p>
		<h3 class='sm'>El taller: columna vertebral</h3>
		<p class='sm'>El taller es la columna vertebral de los estudios de cada disciplina impartida en nuestra Escuela. En él tiene lugar el proceso creativo de cada estudiante, y es donde se decantan los conocimientos humanísticos, matemáticos, científicos y tecnológicos que se imparten en las demás asignaturas de nuestro Plan de Estudios.</p>
		<h2 class='sm'>La observación</h2>
		<h3 class='sm'>Su ubicación</h3>
		<p class='sm'>Para ubicarse diremos que es más que un informarse; por ejemplo, mirar hacia afuera para ver cómo amaneció el clima de un nuevo día.
		También, agregaremos, es más que documentarse; por ejemplo, indagar las variables del recorrido de un cierto itinerario, afín de acertar con el más breve.
		La observación es salir a ciudades, campos, montañas, mares…para mirar su orden. Dicho orden da cuenta de una evolución de la naturaleza y de un desenvolvimiento histórico del hombre. Pero el objetivo de la observación no es reconocer tales leyes de evolución y de desenvolvimiento, sino que es ver en el orden reinante una manifestación de la creatividad humana. Y dentro de ella, llegarse hasta el alma de esa creatividad que es la palabra, que es la palabra poética.
		Así la observación ve en cualquier parte, en cualquier momento de ésta, el requerimiento de creatividad. Ella, intenta siempre por tanto, construir una medida. La medida de un límite del habitar del hombre. Tal habitar va en una perpetua renovación conforme a civilizaciones y épocas.</p>
		<h3 class='sm'>Su construcción</h3>
		<p class='sm'>La observación implica una dimensión o magnitud de contemplación. Esta comienza por ir, por deambular para detenerse en cierto momento en algún punto.
		Junto a la dimensión antes dicha se da otra magnitud de ejecución. En ella, una vez detenido se dibuja lo que se ve. Y al par se escribe un pequeño texto en la forma de unas notas. El dibujo trata de expresar la construcción humana que se ve, lo que ésta alcanza ya, alcanzará, o bien es inalcanzable, ello -se entiende- en cuanto a lo poético. El texto por su parte trata de expresar seso que se ve, en relación con la marcha general, en común, de la época. También -se entiende- en cuanto a lo poético.
		La observación al ser una medida del habitar del hombre -como ya se dijo en el punto anterior- es una formulación escueta, precisa y taxativa. No puede ser nunca algo indeciso,vacilante, que enunciara opiniones o pareceres. Es que la observación es un acto. Un acto creativo. Que es el primero de concepción y realización de la obra. Por eso, el acto es algo en si mismo, concluso, tal como una obra lo es. Concluso a su vez quiere decir, presente, que ha cobrado su plena presencia.</p>
		<h3 class='sm'>Su labor</h3>
		<p class='sm'>El acto de la observación se practica mediante una actitud interna nuestra. Dicha actitud no es algo esporádico u ocasional. Al contrario, ella tiende a extenderse de una manera conformada.</p>
	</div>
</div>